[2019-07-09 14:47] dmlloyd opened #1 "Platform thread-local"
https://github.com/oracle/graal/issues/1461

[2019-07-09 14:48] dmlloyd opened #2 "SecurityManager.getClassContext()"
https://github.com/oracle/graal/pull/1484

[2019-07-09 14:49] dmlloyd opened #3 "Move JDK11-specific Inflater/Deflater to JDK11 module"
https://github.com/oracle/graal/issues/1423

[2019-07-09 14:52] dmlloyd opened #4 "AbstractPlainSocketImpl.isReusePortAvailable0()"
https://github.com/oracle/graal/pull/1422

[2019-07-09 17:30] bobmcwhirter opened #5 "JDK11: FileDispatcherImpl.setDirect0(...)"

[2019-07-09 17:32] bobmcwhirter commented on #5
https://github.com/oracle/graal/issues/1486

[2019-07-10 15:19] dmlloyd opened #6 "ARM32 support"
Note that ARM32 is not yet supported by Graal, so this entails complete ARM32 support there, and then ARM32 support in the SVM part.

[2019-07-10 16:48] bobmcwhirter opened #7 "JDK11: MacOSXSocketOptions methods unimplemented."
https://github.com/oracle/graal/issues/1491

[2019-07-10 16:51] #2 closed

[2019-07-10 16:52] #5 closed

[2019-07-10 17:52] bobmcwhirter opened #8 "JDK11: LinuxSocketOptions methods unimplemented."

[2019-07-11 13:20] #4 closed

[2019-07-11 13:21] #7 closed

[2019-07-15 18:41] dmlloyd opened #9 "Support Class.getPackage() under Java 11"
https://github.com/oracle/graal/pull/1499

[2019-07-15 19:41] dmlloyd opened #10 "Add support for `EPoll.create`"
[code]

https://github.com/oracle/graal/issues/1500

[2019-07-16 14:24] dmlloyd opened #11 "Investigate Mavenization"
See what it takes to drop `mx`.

[2019-07-19 13:37] #9 closed

[2019-07-19 13:37] #8 closed

[2019-07-19 13:38] #10 closed

[2019-08-28 14:32] galderz opened #12 ""RSA KeyFactory not available" with Java 11"
Details [here](https://gist.github.com/galderz/da23ed2be4bccbfeffec42c6c6e123ad):

[code]

On Quarkus master, happens with Java 11 and GraalVM 19.2. This happened [before](https://github.com/quarkusio/quarkus/issues/1163), but the fix does not seem to work with Java 11.

[2019-09-03 20:26] #3 closed

[2020-04-27 14:11] sberyozkin commented on #12
The same issue causes [this failure](https://github.com/quarkusio/quarkus/issues/6588#issuecomment-619906774) with Java 8 update 252:
[code]

[2020-05-11 10:59] galderz opened #13 "Error with jdk11u-dev: undefined reference to JNI_OnLoad_extnet"
Recent changes in oracle/graal master means that we cannot build any native images with jdk11u-dev based JDK.

The error is caused by [this change](https://github.com/graalvm/labs-openjdk-11/commit/9eee9ee40aeb69c6c85d1492a3369c232807f3c0) to Labs JDK and [this change](https://github.com/oracle/graal/commit/8fb8fc502411b3c84308ff5cda4d6c1f775f3920) in oracle/graal. The motivation for this change i

[2020-05-11 11:00] galderz commented on #13
Labs JDK does not present this issue.

[2020-05-11 11:04] galderz commented on #13
Asked for explanation for these commits [here](https://github.com/oracle/graal/commit/8fb8fc502411b3c84308ff5cda4d6c1f775f3920).

[2020-05-20 08:53] galderz commented on #12
Closing this. The issue has only temporarily appeared when the java version used to compile was ahead of the JDK used by GraalVM to compile to native code. With newer GraalVM versions available, the issue goes away.

[2020-05-20 08:53] #12 closed

[2020-05-25 20:10] zakkak opened #18 "Patch .github/ISSUE_TEMPLATE to reflect mandrel's needs"
As a graal fork we inherit `.github/ISSUE_TEMPLATE/` which may or may not fit our needs.

IMO we need to make clear in the template when someone opens an issue that if the issue is graal related it should be reported in oracle/graal and we should also remove the link to the graalvm slack workspace (unless we want to have a `#mandrel` channel there).

[2020-05-28 15:11] zakkak opened #20 "Build mandrel using mandrel-packaging"

[2020-05-29 14:34] galderz opened #22 "ClassValueMap NPE"
With jdk11u-dev sometimes you see this when building native images:

[code]

This is a bug in the underlying JDK. I'm working on a reproducer using byteman.

This would not happen with Labs JDK because they don't reflection to extract this info, but query it directly from the JVM.

[Longer output](https://gist.github.com/galderz/4426cc2285588286710331b4ddeca1ee).

See https://github.com/quarkusio/

[2020-06-05 07:13] galderz commented on #13
Bob Vandette replied on the core-libs-dev mailing list, see [here](https://mail.openjdk.java.net/pipermail/core-libs-dev/2020-May/066449.html). The JDK15 fix needs to be backported to JDK14 and JDK11 respectively. The relevant JEP is [178](https://openjdk.java.net/jeps/178).

[2020-06-05 07:39] galderz commented on #13
[JDK-8244853](https://bugs.openjdk.java.net/browse/JDK-8244853) is the relevant issue. It's in 11.0.8+4.

[2020-06-05 07:39] #13 closed

[2020-06-05 14:25] Karm opened #24 "Strictmath strikes again: dependency named com.oracle.svm.native.strictmath was not found"
As I was preparing a Jenkins test/playground build for Mandrel on a clean box using [mandrel-packaging](https://github.com/mandrel/mandrel-packaging) I hit the infamous:

[code]

I wondered how come my local build works just fine. The problem is that my local graal|mandrel directory is "dirty" with artifacts o countless previous builds....including libstrictmath.a  :)

[code]

## Env
 * Centos8
 *

[2020-06-05 21:51] zakkak opened #25 "Update readme to provide Mandrel information"
Add:
* communication channels
* what is Mandrel and how it compares to Graal
* other?

[2020-06-05 21:54] zakkak opened #26 "Create first community release"
We need to:
* tag latest commit in branch 20 (so we have to decide the tagging scheme we plan to follow)
* release a mandrel tarball

[2020-06-08 08:55] ppalaga commented on #26
Builds for which platforms will be available?

[2020-06-08 11:02] #24 closed

[2020-06-08 16:25] Karm opened #30 "Mandrel makes Linux user install libffi-devel to get ffi.h (Documentation?)"
Hello,

If you run, e.g. a Mandrel based Quarkus build on a Linux box that had just Quarkus [native prerequisites installed](https://quarkus.io/guides/building-native-image#configuring-c-development
) you are going to hit:

[code]

Effectively making the user to install libffi-devel.

Graal CE packages it:

[code]

We should either document which version is expected from the user's system as a pre

[2020-06-08 18:48] zakkak commented on #30
Users should install `libffi-devel` or `libffi-dev` (depending on their distribution). I think adding a prerequisites section in the readme file or in the wiki could fix that.

[2020-06-08 18:52] zakkak commented on #25
I was thinking that we could use the wiki of this repo to avoid large diffs in the readme file.
This way we can keep all the info in our wiki and only add a few lines in the beginning of graal's readme redirecting users to the wiki.

The drawback with this is that part of the documentation won't be shipped with the code (e.g. when cloning the repo, or downloading a tag). WDYT?

[2020-06-08 19:25] zakkak commented on #26
Hello @ppalaga, at the moment we are planning to release tarballs only for amd64

[2020-06-08 20:13] #11 closed

[2020-06-08 20:15] #1 closed

[2020-06-09 10:24] Karm commented on #25
@zakkak @galderz  I am +1 for a separate Mandrel README.md file that would capture what users need to know about Mandrel differences / dependencies etc.

I will amend the PR to create such a file shortly.

[2020-06-09 11:44] galderz opened #36 "Mandrel-specific issues"
This is an umbrella issue to track all issues discovered in Quarkus and other projects that are Mandrel specific. That means, they are issues that are due to specific differences in Mandrel vs Oracle's GraalVM.

One such difference is the underlying JVM, which in Mandrel's case is OpenJDK 11, whereas for Oracle's GraalVM that is [Labs JDK](https://github.com/graalvm/labs-openjdk-11).

Issues fixed

[2020-06-09 12:32] Karm opened #37 "Mandrel master native-image fails: JVMCIError: VM config values missing that should be present in JDK 11 linux-amd64"
Hello,

While our **20.1** branch :heavy_check_mark: works fine, Mandrel **master**'s branch :x: native-image fails to build even a rudimentary program.

## Steps to reproduce

[code]

## Failure

[code]

## Versions
 * Mandrel master, 9c527d0
 * OpenJDK 11.0.8+4 ea

[2020-06-09 12:33] Karm commented on #37
I understand that the focus is 20.1 branch, yet I think it's pertinent to keep this around to remind that master is not ready...

[2020-06-09 12:55] galderz commented on #36
Another issue open:

* NoClassDefFoundError for Camel Olingo - https://github.com/apache/camel-quarkus/issues/1319

[2020-06-09 12:58] zakkak commented on #37
That's interesting!

This issue should be resolved on master by https://github.com/oracle/graal/commit/24a764e4a9afe8b6a867ac11ed44da98c890931b per https://github.com/oracle/graal/issues/2515

I will have a look, thanks for reporting this

[2020-06-09 16:27] Karm commented on #37
@zakkak  It was caught by Jenkins build that was running master instead of 20.1    Will set it up to run both.

[2020-06-10 07:50] jerboaa commented on #25
It would be good if a user could see the diffs directly in the release tarball without the need to find the wiki. Do we expect a potential `README-mandrel.md` to change much?

[2020-06-10 09:26] Karm commented on #36
@galderz

Quarkus 1.5 is passing with Mandrel 20.1 openjdk-11.0.8+4 ea with these exclusions for me:

*Took 2 hr 57 min on karm-centos8-x86-64*
  *3,369 tests (±0)*

[code]

I will be getting to those failures shortly...

[2020-06-10 21:57] zakkak opened #39 "Source Tagging Scheme"
Mandrel's current version is developing on branch `20.1` which is based on Graal's `20.1` branch on tag `vm-20.1.0`.

## Facts

* Mandrel is based on Graal releases (potentially adding some backports, bug fixes, etc. on top of them)
* Mandrel is being built using upstream OpenJDK instead of labs-OpenJDK
* Mandrel (like Graal) is sensitive to OpenJDK changes (thus its builds are tightly coupled to

[2020-06-10 22:01] zakkak opened #40 "Branching and mirroring scheme"
# Graal's approach

[Graal](https://github.com/oracle/graal/) uses the `master` branch for development and creates a new `release/graal-vm/X.Y` branch for each [feature release](https://www.graalvm.org/docs/release-notes/version-roadmap/).

## [Graal's roadmap](https://www.graalvm.org/docs/release-notes/version-roadmap/)
In Graal's versioning scheme in `X.Y.Z`:
* `X` indicates the year of the rele

[2020-06-10 22:18] zakkak opened #41 "Mandrel releases naming"
Graal CE releases are available in https://github.com/graalvm/graalvm-ce-builds/releases and use the following naming convention:

graalvm-ce-java`java major version`-`os`-`arch`-`graal version`.tar.gz

## Facts

* Mandrel doesn't need to follow a similar convention
* Mandrel is being built using upstream OpenJDK instead of labs-OpenJDK
* Mandrel (like Graal) is sensitive to OpenJDK changes (thus

[2020-06-10 22:24] zakkak opened #42 "Should we remove Graal's tags from Mandrel repo?"
When visiting https://github.com/graalvm/mandrel/releases users see Graal's tags, while I think we would like them to see only Mandrel tags.

Is there any use of the Graal tags in Mandrel? Can we remove them?

[2020-06-11 08:44] Karm commented on #42
We are not going to be needing them here, so I would advocate for removing them for the sake of clarity.

[2020-06-11 08:57] Karm commented on #41
My take on this issue:

## Proposal A :heavy_check_mark:
I am fine with this. `mandrel version` should be made of the closest GraalVM version plus our qualifier at the end, e.g. Mandrel 20.1.0.2 would be GraalVM 2.1.0 plus some changes.

## Proposal B :x:
I would favor the others over this one. Graal delivers JDK 8 and 11 and I think Mandrel has to make it clear that it is Java 11 only we are deli

[2020-06-11 09:09] Karm commented on #40
I would like us to remain as close as possible to the Graal's scheme, i.e. having x.y.z for `year`.`quarterly update`.`patch release`. In addition, we need to add our own qualifier, making it: x.y.z.m for `year`.`quarterly update`.`patch release`.**mandrel patch release**.

I am convinced the goal should be keeping us as close to Graal's releases as possible long-term. Differences in backported pa

[2020-06-11 09:19] Karm commented on #39
## Q1: Proposal 1A :x:
I deem this confusing for long term maintenance, Graal 21.2.3 and Mandrel  21.2.3 would suggest being the same thing while potentially being vastly different.

## Q1: Proposal 1B :heavy_check_mark:
I find this being the right way to proceed long term. See also [comment on branching](https://github.com/graalvm/mandrel/issues/40#issuecomment-642518784).

+1 for having mandrel

[2020-06-11 09:49] zakkak commented on #39
Added an extra proposal (1C) for completeness. Please feel free to suggest other schemes as well, I will add them as they come.

[2020-06-11 09:50] zakkak commented on #40
Please refrain from discussing versions in this issue. Let's try to focus only on branches and how/when they should be created.

[2020-06-11 10:06] galderz commented on #39
Q1
==
Potential problem in Proposal 1B:

I don't think there's any guarantee that will backport of all of 20.1.3 patches into Mandrel 20.1.3.x. We might decide to not backport some, say because they're related to the Labs JDK usage (or newer JVMCI layer), which doesn't impact or we simply don't want it in Mandrel.

Then again, this is something that doesn't seem to be an issue with say OpenJDK. Re

[2020-06-11 10:18] galderz commented on #40
@zakkak Maybe we need major.minor.micro branches to handle this? So, `mandrel-20.1.1` branch, `mandrel-20.1.2` branch...etc. We'd need some kind of prefix/suffix to potentially differentiate from tags, or you name the tags with some prefix/suffix.

One possible suffix for the branches could be `u`, e.g. `mandrel-20.1.1u` meaning `u` for update (kinda like what jdk does with jdk11u`), or `dev`, e.g

[2020-06-11 10:27] zakkak commented on #39
I think this is fine, Mandrel can stay in 20.1.2.x in this case.

I find this slightly confusing TBH. If we want to say that Mandrel `X.Y.Z.W` is Graal `X.Y.Z` plus `W`, then if `X.Y.Z` is the same on Mandrel and Graal it should denote the same starting point.

[2020-06-11 10:32] galderz commented on #41
Proposal A
========

Fine by me.

Proposal B
========
Problem: Java 11 is not the only thing in the foreseeable future. We know Java 17 will be an LTS to be released in 2021 and I'm sure we'll support both Java 11 and 17 then, and for a while after that.

Proposal C
========
This only makes sense to me if we're planning to take given x.y.z Mandrel version and we expect to release it with different

[2020-06-11 10:45] maxandersen commented on #41
Proposal A - assuming that mandrel version at the end is graalvm version it is based on or how ?

Proposal B is just a no go.

Proposal C I still don't get the value for users.

[2020-06-11 11:25] zakkak commented on #41
The mandrel version in the end will be the one decided in #39

[2020-06-11 11:31] zakkak commented on #40
I prefer keeping the tags clean and going for `mandrel/20.1.1` or similar for branches.

[2020-06-11 12:53] galderz commented on #25
@jerboaa Hmmm, that's a good point. Things might evolve over time. How would the wiki accomodate that @zakkak?

[2020-06-11 12:58] galderz commented on #40
@zakkak @jerboaa made an interesting point in https://github.com/graalvm/mandrel/pull/27#issuecomment-641812776. Keeping branches major.minor and going along with the progress in the oracle graal micros might be less pain in the long term.

[2020-06-11 13:10] zakkak commented on #25
I think for now `README-mandrel.md` seems enough (thus the #38 PR).

Unfortunately the wiki leaves on a separate repository and needs to be maintained updated independently.
As a result we would need to add links to the wiki in our tarballs and the welcome page of the repository.
Depending on how much things we need to document in the future, a wiki or a readthedocs.io instance might become necess

[2020-06-11 13:26] zakkak commented on #40
So current consensus seems to be:

1. Prefix mandrel branches with `mandrel/` , e.g. `mandrel/20.1`
2. Mandrel branches are based on graal feature releases (e.g. branch `release/graalvm-vm/20.1`) and not release tags like `vm-20.1.0`.
3. Prefix mandrel tags with `mandrel-`, e.g. `mandrel-20.1.0`

[2020-06-15 10:25] zakkak commented on #42
Graal tags are now removed.

[2020-06-15 10:25] #42 closed

[2020-06-15 13:09] galderz commented on #36
@Karm Please post links to the failure here.

[2020-06-15 14:10] jerboaa commented on #40
Seems sensible. I'd suggest to name the tag `mandrel-20.1.0-something` if it's `20.1.0` graal vm based, then change to `mandrel-20.1.1-something` for a `20.1.1`-based graal vm. Both tags branch off a `20.1` release branch. Thoughts?

[2020-06-15 14:37] zakkak commented on #40
@jerboaa tags are discussed here https://github.com/graalvm/mandrel/issues/39 and what you say sounds like proposal 1B, so I think we are inline :)

[2020-06-16 11:46] zakkak opened #45 "Mandrel's master branch is not oca-signed"
At the moment mandrel's master branch is automatically updated (through merges) by Github Actions (https://github.com/graalvm/mandrel/blob/master/.github/workflows/repo-sync.yml#L29) and the commits are made by "Github Action <action@github.com>" (https://github.com/graalvm/mandrel/blob/master/.github/workflows/repo-sync.yml#L40-L41).

This causes issues with the oca-bot so we need to make such co

[2020-06-16 14:54] zakkak opened #46 "Automatically open an issue/PR when a new OpenJDK release becomes available"
#44 is not working:

[code]

So we either need to create a personal token to use (I don't like this idea because the personal token won't be limited to this repository) or we need to (re-)open an issue instead of a PR every time a new openjdk EA release is out.

[2020-06-16 21:22] zakkak commented on #36
FYI we could possibly automate the tracking of issues reported in this issue using https://github.com/marketplace/actions/epic-issues-for-github

[2020-06-16 22:36] zakkak commented on #46
#44 has been reverted by #47

Unfortunately opening an issues only if it doesn't already exist is not trivial (I didn't find a GH action supporting it) and I think it's not worth putting effort on it at this point.

For future reference https://github.com/actions/github-script seems promising (if anyone is willing to write a few lines of JS), otherwise Quarkus is using the github Java API through

[2020-06-16 22:44] zakkak commented on #39
It looks like 1B and 2B are the winners here :)

So tags are expected to look like:
* `mandrel-20.1.0.1.Alpha1`
* `mandrel-20.1.1.5.Final`
* etc.

[2020-06-16 22:44] #39 closed

[2020-06-16 22:48] zakkak commented on #40
According to the discussions in this thread we should:
* Prefix mandrel branches with `mandrel/` , e.g. `mandrel/20.1`
* Base mandrel branches on graal feature releases (e.g. branch `release/graalvm-vm/20.1`) and not release tags like `vm-20.1.0`.

[2020-06-16 22:48] #40 closed

[2020-06-16 22:57] zakkak opened #49 "Removal of branch 20.1"
As discussed in https://github.com/graalvm/mandrel/issues/40 we should start using https://github.com/graalvm/mandrel/tree/mandrel/20.1 instead of https://github.com/graalvm/mandrel/tree/mandrel/20.1 and https://github.com/graalvm/mandrel/tree/mandrel/20.1 should be removed ASAP.

The only blocker at the moment is https://github.com/graalvm/mandrel/pull/43.

[2020-06-16 23:01] zakkak commented on #41
Proposal C seems to be controversial and its verbosity is not needed at this point.
As a result, mandrel releases are expected to be named like `mandrel-java11-linux-amd64-20.1.3.2.Final.tar.gz` (i.e. Proposal A)

[2020-06-16 23:01] #41 closed

[2020-06-16 23:10] zakkak commented on #26
Currently blocked by #38

[2020-06-16 23:22] zakkak opened #50 "Removal of `oracle-*` branches?"
Following #40 to be consistent I suggest we rename `oracle-*` branches to `graal/*` e.g. `graal/master`.

Given the opportunity I would also like to ask whether anyone sees any value in keeping these branches around.
It looks like we don't do anything with them. If that's true removing them would make the repo much cleaner.

[2020-06-16 23:27] zakkak opened #51 "Change of the default branch"
When someone visits Mandrel's repo they see the `master` branch, however we are not active on this branch.
What do you think about changing the default branch to Mandrel's most active branch instead?

[2020-06-17 13:24] zakkak commented on #49
#43 has been merged and branch 20.1 is now removed

[2020-06-17 13:24] #49 closed

[2020-06-17 15:25] #25 closed

[2020-06-18 08:36] Xaseron commented on #26
Can you also provide a container image like https://hub.docker.com/r/oracle/graalvm-ce?

[2020-06-18 09:17] Karm commented on #26
Hello @Xaseron,
there will be a Quarkus builder image based on Mandrel.

[2020-06-18 09:49] Karm commented on #30
resolved.

[2020-06-18 09:49] #30 closed

[2020-06-18 13:03] jerboaa opened #54 "Mandrel release doesn't contain proper *.src.zip files"
A mandrel release from here:
https://github.com/graalvm/mandrel/releases/tag/mandrel-20.1.0.0.Alpha1

... doesn't contain proper `*.src.zip` files for graal vm jars. Including those `.src.zip` files improves debugging experience of native images where the debug info generator produces `sources` folder with `jdk`, `graal`, `src` folders if corresponding sources of the app are being found. In partic

[2020-06-18 15:38] #26 closed

[2020-06-18 15:44] galderz commented on #36
@zakkak Sounds good. Shall we just create a new workflow in https://github.com/graalvm/mandrel/tree/master/.github/workflows to support this?

[2020-06-18 16:10] zakkak commented on #36
Yes that would be one way to do it, the other is adding it to https://github.com/graalvm/mandrel/blob/master/.github/workflows/repo-sync.yml since running it daily is probably OK.

[2020-06-18 16:25] zakkak opened #55 "Add changelog to Mandrel releases?"
Mandrel releases need a way to describe how they differ from the corresponding GraalVM CE release.
One way is using github's diff but a more human friendly approach would be to include a Changelog describing at least the core differences at high level.

Thoughts?

[2020-06-18 16:28] zakkak commented on #37
@Karm it seems to work fine with JDK 11.0.8+7 ea can you please confirm and close this issue?

[2020-06-18 21:12] zakkak commented on #54
@jerboaa can you please see if https://github.com/mandrel/mandrel-packaging/pull/27 fixes the issue for you?

Using it I see:
[code]

[2020-06-19 10:24] #45 closed

[2020-06-19 10:33] zakkak commented on #54
Closed by https://github.com/mandrel/mandrel-packaging/pull/27

[2020-06-19 10:33] zakkak commented on #54
Hmmm, sorry. This should stay open till a new release with the src files gets released.

[2020-06-19 11:22] Karm commented on #55
@zakkak +1 for the general concept, but we have to find a way to generate the file automatically.
I suggest a manifest / BOM like text file listing
 + added commits on top of Graal's 20.1.0
 + OpenJDK version update, i.e. not just "11.0.8-ea", but the full "11.0.8-ea+7"

Perhaps taking advantage of GitHub Milestones, e.g. https://github.com/graalvm/mandrel/milestone/1 could facilitate the task.  F

[2020-06-19 11:48] #20 closed

[2020-06-19 22:48] zakkak commented on #36
It looks like it doesn's support cross-repository issues (yet)
https://github.com/cloudaper/epics-action/issues/2

[2020-06-22 13:49] #6 closed

[2020-06-23 07:15] galderz commented on #36
Oh bugger, that's a pity. Let's wait for that?

[2020-06-24 09:38] #18 closed

[2020-06-25 13:27] jerboaa opened #68 "native-image --version should include OpenJDK build number"
Native image currently doesn't print the build number. That's an important detail for issue diagnosis, especially when we are in the early access phase.

[code]

Consider using something like this to retrieve the OpenJDK version at build time (to be then passed as org.graalvm.version propery for the mandrel build):

[code]

[2020-06-25 13:34] zakkak commented on #68
The Java version is actually set here https://github.com/graalvm/mandrel/blob/be81deca5e4eab96725fba3ba2a2710008908e0b/substratevm/src/com.oracle.svm.driver/src/com/oracle/svm/driver/DefaultOptionHandler.java#L85 (not through `org.graalvm.version`).

If this is something needed only for the ea phase I suggest we patch it in mandrel/20.1, otherwise we should better try to push the change upstream.

[2020-06-25 15:17] jerboaa commented on #68
+1 on getting this into upstream.

[2020-06-25 16:26] zakkak commented on #68
Opened https://github.com/oracle/graal/pull/2614

[2020-06-30 13:27] Karm commented on #37
@zakkak Build with 11.0.8+8:

:x: https://ci.modcluster.io/job/mandrel-master-linux-build/1/consoleText

[code]

[2020-06-30 13:30] zakkak commented on #37
This is a different issue and we need to backport https://bugs.openjdk.java.net/browse/JDK-8247246 to upstream jdk11 to get this fixed (see https://github.com/oracle/graal/issues/2628).

[2020-06-30 20:16] Karm commented on #50
I am not using them. When I need oracle/graal I just use another remote...

[2020-07-01 18:16] zakkak commented on #50
`oracle-*` branches are now removed.

[2020-07-01 18:16] #50 closed

[2020-07-08 11:16] zakkak commented on #37
Backport is now merged in jdk11u https://bugs.openjdk.java.net/browse/JDK-8249047

[2020-07-17 11:28] zakkak commented on #51
An email has been sent to graalvm-dev mailing list to start the discussion.
https://oss.oracle.com/pipermail/graalvm-dev/2020-July/000071.html

[2020-07-20 10:46] zakkak commented on #54
We are planning a new release in the following weeks which will include the src files.

[2020-07-20 10:47] zakkak commented on #55
I don't have experience with using GH milestones but sounds good.

[2020-07-25 03:00] #46 closed

[2020-07-27 09:10] zakkak commented on #54
Sources are included since 20.1.0.1.Alpha2

[2020-07-27 09:10] #54 closed

[2020-07-30 13:09] zakkak opened #86 "Mandrel does not support image build server"
GraalVM provides an image build server which was enabled by default in GraalVM versions < 20.2.
However, this turned out to cause some issues and as of 20.2 the image build server won't be used unless `--experimental-build-server` is passed as a parameter to `native-image` (https://github.com/oracle/graal/issues/2598).

Mandrel does not run the image build server even in 20.1.x.x releases.
This is

[2020-08-06 13:06] galderz opened #95 "Create major.minor floating tag in quay"
We should have a `20.1` tag on quay that links to the latest Mandrel release. This moving tag would allow users to get the latest 20.1 version and would help avoid version specific hardcoding. See https://github.com/quarkusio/quarkus/pull/11061 for details.

[2020-08-06 13:09] galderz commented on #95
We might additionally want to have a `major.minor-javaX` tag, in case we want to specifically refer to something that only applies to a certain java version. So, `20.1-java11` as well as `20.1`.

[2020-08-06 14:29] zakkak commented on #95
Imagine the following scenario:
User compiles code on machine A and happens to get 20.1.0.0 for tag `20.1`.
Same user compiles same code on machine B but this time they get 20.1.0.1 for tag `20.1`.
User now observes different performance/behaviour between machine A and B while using the exact same configuration.
I find this confusing for both the user and us trying to debug what's wrong.

Furtherm

[2020-08-07 06:22] galderz commented on #95
I think the risks of introducing breaking changes in micro.x releases is very small.

The downside of this [full reference](https://github.com/quarkusio/quarkus/pull/11061/files#diff-cbe7e4692ea77ee1f632145becb13ed9R37) is that it will be updated in no time. You'll have to update it when final comes out, when the next CP comes out...etc. It's not scalable. Using a floating tag helps avoid the need

[2020-08-07 09:51] zakkak commented on #95
That would be true if Mandrel was following [semantic versioning](https://semver.org/).
However the `major.minor.micro` prefix in Mandrel just denotes the GraalVM CE release that the Mandrel release is based on.
The chances of backporting a breaking change I would like to think that are indeed very small, but still not guaranteed (especially without extensive testing).

Correct. @gsmet what are yo

[2020-08-07 12:26] zakkak commented on #86
#96 fixed that for mandrel/20.1
#98 fixes it for master
#100 fixes if for mandrel/20.2

[2020-08-10 18:30] zakkak opened #102 "Change default branch's name"
As Mandrel is not using the default branch (currently called `master`) as the development branch and #98 essentially makes the default branch just a landing page. It seems like we could rename the default branch in an effort to be more inclusive [1].

Please use this issue to raise any concerns and/or to suggest a name for the default branch.
Some names I have thought about:

* `welcome`
* `readme

[2020-08-11 11:52] Karm opened #103 "Debugging/profiling: source file cannot be found: 'sources/graal:sources/jdk/org/graalvm/compiler/replacements/JDK9StringSubstitutions.java'"
Hello,

it seems to me there is a source file missing in the Mandrel distro.
Source:
[code]
Mandrel:
[code]
Where `mandrelJDK` is a build of mandrel/mandrel/20.1 HEAD 287bbb3 using https://github.com/graalvm/mandrel-packaging master HEAD 62bd8c7 and [AdoptOpenJDK 11.0.8 GA](https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/tag/jdk-11.0.8%2B10).

[code]
Browsing the call stack...

[2020-08-11 12:29] zakkak commented on #103
@Karm I think I am better suited to debug this, since the issue seems to be related with the comp_dir attribute that I added to debug info (assigned it to myself).

[2020-08-11 12:44] zakkak commented on #103
The issue seems to be in `valgrind` which takes the comp_dir and appends the file name to it resulting in a path like `sources/graal:sources/jdk/org/graalvm/compiler/replacements/JDK9StringSubstitutions.java` while the path should be `sources/graal/org/graalvm/compiler/replacements/JDK9StringSubstitutions.java`.
`valgrind` should instead chose the correct compilation directory from the comp_dir at

[2020-08-11 12:48] Karm commented on #103
@zakkak I don't think you are right.  JDK9StringSubstitutions.java is physically not present in my /tmp/sources. The other files that valgrind finds without issue are present.

[2020-08-11 13:01] adinn commented on #103
@zakkak it is perhaps worth investigating what is in the src.zip of the jdk11u that is being used here. My 20.2-b0.2 labs jdk11u release includes JDK9StringSubstitutions.java in the appropriate location

     -rw-r--r--      2983  29-Jun-2020  08:24:26  jdk.internal.vm.compiler/org.graalvm.compiler.replacements/src/org/graalvm/compiler/replacements/JDK9StringSubstitutions.java

So, if it is in the

[2020-08-11 13:09] zakkak commented on #103
@Karm indeed `sources/graal/org/graalvm/compiler/replacements/JDK9StringSubstitutions.java` was a left over from an older compilation.

@adinn I see no `JDK9StringSubstitutions.java` in the sources of OpenJDK 11.0.9+2
[code]

but it's present in:
[code]

[2020-08-11 13:58] adinn commented on #103
@zakkak yeah well it really ought to have been included in the jdk sources for jdk11u since it is used in the implementation.

I know it is in lib/jvmci/graal.src.zip in Mandeel but it really ought to be found as a jdk class in the jvmci module rather than as a Graal source. The JDK source cache is configured to field lookups for classes in the org.graalvm.compiler package. If it has a source root

[2020-08-12 05:44] rsvoboda opened #105 "mandrel-20.1.0.1.Final release text says Alpha2 not Final"
https://github.com/graalvm/mandrel/releases/tag/mandrel-20.1.0.1.Final

Mandrel 20.1.0.1.Alpha2 is a downstream distribution of the GraalVM community edition 20.1.
 =>
Mandrel 20.1.0.1.Final is a downstream distribution of the GraalVM community edition 20.1.

@Karm fyi

[2020-08-12 06:48] jerboaa commented on #95
I'd be +1 to having a moving `20.1`. It's pretty common practice. After all, the version numbers for Graal VM are based on the year, AFAIK. So users of the image going with `20.1` tag wouldn't get `20.2` or `21.1` Graal VM by surprise. They would get images with base OS updates, micro release respins etc. There is a small? chance of such minor bumps causing regressions of some form but it would be

[2020-08-12 08:17] Karm commented on #105
@rsvoboda This is fixed now. Thx.

[2020-08-12 08:17] #105 closed

[2020-08-12 09:16] galderz opened #106 "Time zone names resource bundle not found"
I don't think this is a Mandrel issue per se yet, but I thought it's interesting enough to track it here and see if we can improve this.

The test case is [here](https://github.com/galderz/mendrugo/tree/master/timezones). If I run that example with Mandrel 20.1.0 Final release on centos 7 it works fine. However, if I build 20.1 branch with the same commit as the Final tag, it fails with:

[code]

[2020-08-12 11:51] Karm opened #107 "Quarkus: Error: Please specify class containing the main entry point method. (see --help)"
While running Quarkus test suite using Mandrel builder image, certain tests seem to make Mandrel to spit out this message:
```Error: Please specify class containing the main entry point method. (see --help)```
although the build appears to complete and the test proceeds...

I am concerned because it seems as a capital failure that would prevent the executable from building and at the same time, th

[2020-08-12 12:32] zakkak commented on #103
@jerboaa sounds like a packaging issue, can you please have a look?

[2020-08-12 12:37] adinn commented on #102
I agree this is a good idea. I'm happy with any of the above suggestions. If you want an actual pick then I'll go for default.

[2020-08-12 12:39] zakkak commented on #102
For the record I am also adding a reference to @maxandersen 's comment https://github.com/graalvm/mandrel/pull/98#issuecomment-671294366 and my reply https://github.com/graalvm/mandrel/pull/98#issuecomment-671300080

[2020-08-12 12:51] Karm commented on #106
@galderz I guess I could incorporate that Timezone test in  https://github.com/Karm/graal/tree/test-for-issue-2265/integration-tests  alongside randomNumbers in https://github.com/Karm/graal/tree/test-for-issue-2265/integration-tests/apps

[2020-08-12 13:26] zakkak commented on #103
I was able to reproduce this with latest graal as well.

It looks like we have two separate issues here:
1. The lack of jvmci sources in src.zip of OpenJDK (I will open a new issue to track this)
2. Valgrind creating wrong file paths (which I suggest we keep track of in this issue)

As shown here:
![image](https://user-images.githubusercontent.com/1435395/90020066-fc67ac00-dcb7-11ea-8d5e-17e9182e5

[2020-08-12 14:48] zakkak commented on #103
Apparently I have been abusing `comp_dir` (with the blessings of gdb). According to the dwarf spec:

There is no mention about supporting multiple directories in `comp_dir` as a colon separated list.

[2020-08-12 14:50] jerboaa commented on #103
@zakkak Are you sure this is an OpenJDK packaging issue?

Hmm, I'm not sure it should be in `src.zip` of OpenJDK. The sources of OpenJDK 11 itself don't have any `JDK9StringSubstitutions.java` file:

In the OpenJDK 11u dev tree:
[code]

In the mandrel source tree it is indeed found:
[code]

This smells to me like an issue of us using `--upgrade-module-path /path/to/openjdk11/lib/svm/bin/../../jvmc

[2020-08-12 14:52] jerboaa commented on #103
As a result the debug info lookup gets confused. Trying to find it in the JDK's src.zip file while it's *exclusively* in graal.src.zip

[2020-08-12 14:53] zakkak commented on #103
@jerboaa you are right, I was just doing a similar search, thanks for confirming. I will open a new issue to track this down.

[2020-08-12 15:23] zakkak opened #108 "Missing sources when using `-g`"
## Description
When generating a native image with debug symbols some sources are not placed under `sources` as expected.

Debug info contain references to JDK9StringSubstitutions.java
[code]

But there is no such file under sources:
[code]

## How To Reproduce
Steps to reproduce the behavior:
[code]

### Configuration:
 - OS: Fedora 32
 - Architecture: AMD64
 - Mandrel version: 20.1.0.1.Final
 -

[2020-08-12 15:36] adinn commented on #103
So, the problem here is that packages are directed to a specific source cache by the source cache manager using a list of prefixes. The source cache manager thinks the JDK source cache owns org.graalvm.compiler on jdk11. So, if there are subpackages that need to be fielded by the Graal source cache manager then we need an exclusion for that in the lookup.

There is also another wrinkle here. packa

[2020-08-12 15:40] zakkak commented on #103
@adinn let's take this ^^  to #108

[2020-08-12 15:58] adinn commented on #103
@jerboaa By the way JDK9StringSubstitutions.java is found  in the jdk dev tree

    [adinn@sputstik jdk]$ find src -name JDK9StringSubstitutions.java
    src/jdk.internal.vm.compiler/share/classes/org.graalvm.compiler.replacements/src/org/graalvm/compiler/replacements/JDK9StringSubstitutions.java
    [adinn@sputstik jdk]$

The file is identical modulo a trivial difference in the file header.

[2020-08-12 16:32] zakkak commented on #108
Ugly workaround:

[code]

[2020-08-12 17:07] zakkak commented on #108
Replying to @adinn's https://github.com/graalvm/mandrel/issues/103#issuecomment-672961640

## Only in graal (excluding tests):
[code]

Obtained using `diff -r jdk11u-dev/src/jdk.internal.vm.compiler/share/classes/ graal/compiler/src | grep 'Only in graal.*.java' | grep -iv 'test'`

## Only in jdk11u-dev (excluding tests):
[code]

Obtained using `diff -r jdk11u-dev/src/jdk.internal.vm.compiler/shar

[2020-08-12 17:16] jerboaa commented on #103
@adinn I'm not surprised. The file got introduced with [JDK-8206992](https://bugs.openjdk.java.net/browse/JDK-8206992) in JDK 12. So this is a case of OpenJDK 11u being at a lower graal level . a.k.a `jdk.internal.vm.compiler` code.

[2020-08-12 17:17] zakkak commented on #103
@adinn @jerboaa please use #108 for this part of the issue.

[2020-08-12 21:36] zakkak commented on #51
Closed via #98

[2020-08-12 21:36] #51 closed

[2020-08-12 21:42] zakkak commented on #37
`graal/master` builds with OpenJDK 11.0.9-ea+1
https://github.com/graalvm/mandrel/runs/977811823?check_suite_focus=true

[2020-08-12 21:42] #37 closed

[2020-08-13 08:29] galderz commented on #106
@Karm Yeah, I think that's a good idea. I'm trying to narrow it down further today. I'm first testing with locally build mandrel with 11.0.8 (as opposed to jdk11u-dev) and see what happens.

[2020-08-13 10:50] galderz commented on #106
Just built [11.0.8+10 tag](https://github.com/openjdk/jdk11u/tree/jdk-11.0.8%2B10) locally, and mandrel on top of that. It works fine.

So, this would appear to indicate that something coming up in 11.0.9 is causing the issue...

[2020-08-13 10:53] galderz commented on #106
Or, it could be a random issue...

[2020-08-13 11:12] galderz commented on #106
I don't think this is a random issue at this point. It seems pretty consistent: when I expect it to fail it fails, when it doesn't it doesn't.

I could be completely wrong, but this issue might be somehow related to the changes in https://github.com/openjdk/jdk11u-dev/commit/fb910780651a3fce4940c498d470c01027c1c7c1. It touches the same area shown in the stacktrace.

[2020-08-13 11:16] galderz commented on #106
Note, that change is from Feb but was only integrated into JDK 11 post 11.0.8 cut off (see [newer commits](https://github.com/openjdk/jdk11u-dev/commits/master?after=8fb4ba590ec65b95f0e99323317cc91d5c1d312e+34&branch=master) vs [11.0.8 cut off](https://github.com/openjdk/jdk11u/commits/jdk-11.0.8%2B10))

[2020-08-17 12:21] zakkak commented on #103
Closed via #109

[2020-08-17 12:21] #103 closed

[2020-08-18 12:30] galderz commented on #107
I think the error is being reported by something that gets executed before the native image invocation happens. The `docker run...` message is logged [here](https://github.com/quarkusio/quarkus/blob/1.7.0.Final/core/deployment/src/main/java/io/quarkus/deployment/pkg/steps/NativeImageBuildStep.java#L354). That's before the actual invocation, so the error is being reported by something that gets exe

[2020-08-18 12:33] galderz commented on #107
Sorry, clicking wrong things. Completed the message above :)

[2020-08-18 12:33] galderz commented on #107
Btw, I mean opening a bug in Quarkus upstream.

[2020-08-18 14:43] zakkak commented on #102
One way to make the transition in a safe manner without any inconvenience is to create the new branch and make it the default, while keeping in in sync with `master` (which will no longer be the default though) through https://github.com/graalvm/mandrel/blob/master/.github/workflows/repo-sync.yml

What do you think about this approach @maxandersen ?

[2020-08-19 07:26] jerboaa commented on #106
The referenced change is in 11.0.9+1 and onwards. See:
https://bugs.openjdk.java.net/browse/JDK-8236548

[2020-08-19 10:28] zakkak commented on #95
https://github.com/quarkusio/quarkus-images/pull/92 has been merged. Starting from Sunday we should have a 20.1-java11 tag :)

[2020-08-20 15:17] jerboaa commented on #106
@galderz I don't think this is a mandrel issue. Code which relies on timezones needs to add the `-H:IncludeResourceBundles=sun.util.resources.TimeZoneNames` switch when generating the native image.

Baseline build is mandrel 20.1.0.2 (latest dev code of mandrel/20.1 branch, with latest 11.0.9+4 EA build):

[code]

Without `-H:IncludeResourceBundles=sun.util.resources.TimeZoneNames`:

[code]

With

[2020-08-20 15:21] galderz opened #110 "ServletITCase failures in Mandrel 20.2 branch and assertions enabled"
[code]

[Full logs](https://gist.github.com/galderz/4dcb80c340358e35910d13fee85bd2df).

[2020-08-20 15:29] galderz commented on #106
Note that GraalVM 20.1 added this warning:

[code]

So, if native image includes all timezones, it would not make sense to need `-H:IncludeResourceBundles=sun.util.resources.TimeZoneNames`

[2020-08-20 15:30] galderz commented on #106
It could be that GraalVM needs to add `-H:IncludeResourceBundles=sun.util.resources.TimeZoneNames` automatically to honor the warning, given the changes in 11.0.9, or the other possibility is that there's a bug triggered by the 11.0.9 change above.

[2020-08-20 15:34] galderz commented on #106
`io.quarkus.it.mongodb.panache.reactive.NativeMongodbPanacheResourceIT` is affected by this, see [here](https://gist.github.com/galderz/bc6362c732c6d0c8bdc557a64e24409e#file-gistfile1-txt-L231).

[2020-08-20 15:47] galderz opened #111 "Keycloak native image fails to build with assertions enabled"
[code]

[Full logs](https://gist.github.com/galderz/3b3637a17332b4e7eee3177ce3d5deae)

[2020-08-20 15:50] galderz commented on #106
`io.quarkus.it.quartz.QuartzITCase` also affected, see [here](https://gist.github.com/galderz/538813773faa1b3b8bca010773a7cf54#file-gistfile1-txt-L125).

[2020-08-20 15:59] galderz commented on #106
`io.quarkus.it.spring.InjectedSpringBeansResourceIT.testSessionScope` too, see [here](https://gist.github.com/galderz/5b834d70a3d2d96e59aa0a5635f1216a#file-gistfile1-txt-L165).

[2020-08-20 17:13] jerboaa commented on #106
Why? The former is in relation to time zones pre-inititialized in the image, the later is in relation to included l10n. See https://github.com/graalvm/mandrel/blob/mandrel/20.1/substratevm/RESOURCES.md

[2020-08-20 17:17] jerboaa commented on #106
This is actually caused by this fix in OpenJDK 11 (in 11.0.9+1 and onwards):
https://bugs.openjdk.java.net/browse/JDK-8236548

[2020-08-20 17:32] jerboaa commented on #106
This fix changes caching of the 'en' locale. In 11.0.8 'en' locales were cached and with 11.0.9+1 this is no longer the case. Thus, native-image on 11.0.9+1 (and better) needs the extra resource when it's generating the image. In fact, for any language **not** English a native image generated with 11.0.8 fails the same way as 11.0.9 EA now does also with the English language:

[code]

And with the

[2020-08-20 17:38] jerboaa commented on #106
@galderz My suggestion would be to add `-H:IncludeResourceBundles=sun.util.resources.TimeZoneNames` to quarkus when a native image is being generated so that they can be sure the resource will be there. Previously they were relying on an impl detail of OpenJDK which of course can change (as seen with this bug). Thoughts?

[2020-08-21 08:45] Karm commented on #106
@galderz My Jenkins Mandrel 20.2 + Quarkus 1.7.0.Final fails as expected on e.g. [Quartz] (https://gist.github.com/Karm/6806d58c973a2c7d4f3d643fe866ba5a): Is there any Quarkus branch in your repo I can try to build and run the tests with that adds ```-H:IncludeResourceBundles=sun.util.resources.TimeZoneNames```?
Have you guys tried as
[code]
?

[2020-08-24 06:14] galderz commented on #95
The tag is [there](https://quay.io/repository/quarkus/ubi-quarkus-mandrel?tab=tags) now. I'll update the docs.

[2020-08-24 08:00] galderz commented on #95
Sent a [Quarkus PR](https://github.com/quarkusio/quarkus/pull/11551) to use the floating tag now that it's available.

[2020-08-24 08:57] #95 closed

[2020-08-24 19:37] #36 closed

[2020-08-25 12:05] galderz commented on #107
I've been looking into this. In the same way that we don't pass `--no-server` when using Mandrel (see here), we should do the same with cleanup server, it should only apply to GraalVM and not Mandrel.

[2020-08-25 22:21] zakkak commented on #107
Closed by https://github.com/quarkusio/quarkus/pull/11605

[2020-08-25 22:21] #107 closed

[2020-08-26 15:25] zakkak commented on #111
This is being tracked upstream https://github.com/oracle/graal/issues/2735

[2020-08-26 15:28] zakkak commented on #102
Since I see no objections I am going to proceed with the change as mentioned above ^^

[2020-08-26 15:42] #102 closed

[2020-08-26 16:57] #86 closed

[2020-08-26 22:38] zakkak opened #114 "MacOS support"
MacOS builds should be relatively easy to produce and test, however, there are still some roadblocks in our way.

To my knowledge these are:
- [x] There is no available vanilla build of OpenJDK for MacOS that includes static-libs
- [x] `mandrel-packaging` is known to have some issues on MacOS (See https://github.com/graalvm/mandrel-packaging/issues/42)
- [x] We lack HW for testing and releasing on

[2020-08-28 16:58] jerboaa commented on #68
oracle#2614 is now resolved. Removing pending upstream label.

[2020-08-31 06:22] galderz commented on #110
Looking at the logs closely, you see this:

[code]

It's just another case of #106, closing.

[2020-08-31 06:22] #110 closed

[2020-08-31 06:26] galderz commented on #111
Great, thx @zakkak. I'm assigning issue to you.

[2020-08-31 07:31] maxandersen commented on #102
Sorry thought I already responded that it sounds good:)

[2020-09-01 10:35] zakkak commented on #68
This is now merged in 20.1. Pending backport to 20.2

[2020-09-01 11:23] zakkak commented on #108
@adinn I am thinking about refactoring the sourceCaches to avoid having a separate source cache per "type" (i.e., JDK, GraalVM, and Application). Instead I am thinking about keeping all roots in a single SourceCache ordered based on priority (with JDK roots getting the highest priority, GraalVM roots following and Application roots being the last resort).

This way when a source is being searched

[2020-09-01 12:16] zakkak commented on #108
The refactored code is available here https://github.com/zakkak/mandrel/tree/search-sources-everywhere

[2020-09-01 13:10] adinn commented on #108
Yes, performance.

There is no point spending time searching the JDK and Graal source roots when looking for application sources if you can tell from the package of the associated classes means that they will not be found there. Similarly, there is no point searching JDK source roots for Graal sources when the package of the associated classes means they will not be found there.

I think your prop

[2020-09-01 14:30] zakkak commented on #108
That was my thought as well, but I printed the roots and they are less than 10 in total, so I thought "What's slower? Performing String comparisons to find the cache type, or going through the cache roots blindly" (My gut tells me the second one).

So out of curiosity I went for the evaluation as you suggested :)
I wrapped `dwarfSections.installDebugInfo(debugInfoProvider);` (the part where we cre

[2020-09-01 14:34] adinn commented on #108
I'm afraid not sure what the last column means. Did you delete the cache between runs?

[2020-09-01 14:35] zakkak commented on #108
The last column applies https://github.com/zakkak/mandrel/commit/db100a6f503dfc3efd0aa01a520af94ed631ab04 on master.

Yes.

[2020-09-01 16:41] adinn commented on #108
Revised opinion:

I don't think this is going to vary much when you have a bigger app -- the count of Graal and JDK source roots is not going to go up and that county essentially determines how much extra work is needed.

There is one detail I think you still need to consider though. I'm not sure how exactly your patch is going to deal with the jdk11 case where we have Graal compiler sources prese

[2020-09-02 14:42] zakkak commented on #108
I have "marked" jdk source roots so that I can prefix the sources with the modulename when looking into JDK sources.
See https://github.com/zakkak/mandrel/blob/22722c047f6f40931f75bc34044401d6ef7235ca/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/image/sources/SourceCache.java#L366
and
https://github.com/zakkak/mandrel/blob/22722c047f6f40931f75bc34044401d6ef7235ca/substratevm/src

[2020-09-02 14:48] adinn commented on #108
Ok, that looks good. Thanks!

[2020-09-03 09:54] #68 closed

[2020-09-03 10:06] zakkak opened #119 "No sources for native libraries"
## Description

Mandrel ships with `libjvm.a` and `liblibchelper.a` but not their sources.
As a result gdb (as well as other tools) fail to show the source code.

## How To Reproduce
[code]

## Additional context
In order to fix this we need to:
1. Ship the sources along the binaries
2. Find a way for gdb to detect the sources. Currently it's looking in the directory where the sources were built f

[2020-09-03 13:41] Karm opened #125 "Mandrel 20.2: Warning: Using an older version of the labsjdk-11"
Native image build spits this warning:

[code]

Mandrel 20.2 is built with [OpenJDK 11.0.9+3 EA build](https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/tag/jdk-11.0.9%2B3).

As @zakkak  suggest, this is about the location of static libs. [Graal source](https://github.com/oracle/graal/blob/d77d41e182520cca871b0fdcc74aa37d29c37b83/substratevm/src/com.oracle.svm.hosted/src/com/ora

[2020-09-03 13:43] Karm commented on #125
The message is whitelisted in the TS for the time being:

[code]

[2020-09-03 14:23] Karm commented on #106
@zakkak  @jerboaa  Test is added here... https://github.com/Karm/mandrel-integration-tests/pull/1

Will propose move to https://github.com/graalvm/mandrel-integration-tests soon.

[2020-09-03 16:40] jerboaa commented on #125
This is actually a backwards incompatible change and breaks the 20.1 mandrel build. There are a couple of ways to solve this:

* Produce Vanilla upstream OpenJDK artifacts with static-libs in the new location with a symlink to the new location at the old location (not really a portable solution).
* Remove the warning msg via a patch in mandrel distro
* Get the code looking for things in the new lo

[2020-09-03 19:49] zakkak commented on #125
I vote the 3rd, I think backporting https://github.com/oracle/graal/commit/d7b5904db656d1313d6462a0034818dfccbbb69b should do the trick

[2020-09-04 08:21] #108 closed

[2020-09-04 14:36] jerboaa commented on #125
@zakkak we'd need to get the timing for this right, though. It's a big bang change and OpenJDK 11 changes and mandrel changes need to be coordinated well.

[2020-09-04 14:51] zakkak commented on #125
That's correct, but I don't think it's hard to achieve. We just have to test it with EA and once GA is out we merge the backport and create a new release (which we would anyway to get the latest GA OpenJDK in the mandrel release).

[2020-09-06 06:30] Karm opened #128 "quarkus/integration-tests/redis-client passes with Mandrel 20.2, fails with Mandrel master: Non-boolean option 'TraceClassInitialization' can not use +/- prefix"
Hello,

Mandrel 20.1 and 20.2 runs `quarkus-integration-test-redis-client` for Quarkus 1.7.2.Final just fine:

[code]

Although it fails with master:

[code]

We need to either re-introduce the changed config flag so as Quarkus keeps running or better we should address this on the Quarkus side to allow for a different flag when a newer Mandrel/Graal is detected.

[2020-09-07 13:52] zakkak commented on #128
Yes sounds more like something we will need to get fixed on Quarkus (probably when it gets to 20.3 though, not yet).

[2020-09-09 08:10] galderz commented on #125
Either 2 or 3 for me.

[2020-09-09 14:07] jerboaa commented on #125
OK. I've got a patch ready for vanilla OpenJDK. See https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/pull/10 We should pipeline a backport for the 20.1 mandrel branch and merge around the October OpenJDK 11 CPU timeline.

[2020-09-10 11:12] zakkak commented on #22
@galderz should we mark this as `Not-Stale`?

[2020-09-11 10:08] galderz commented on #22
@zakkak I think so. A fix for this is close to making it to jdk, see [here](https://github.com/openjdk/jdk/pull/94).

[2020-09-11 11:09] zakkak opened #134 "Graal master broken for Mandrel"
First failing build is https://github.com/graalvm/mandrel/runs/1100225897?check_suite_focus=true

The commit that introduced the error is 1b7b2c8c72dd6e3c3601f9e20705cd8b92c46f06

## Stack trace
[code]

## Reproduce with:

After building Mandrel with `graal/master` export JAVA_HOME to point to the new Mandrel build and run:
[code]
in quarkus

[2020-09-11 13:14] zakkak commented on #134
The issue is not Mandrel related but due to a wrong configuration in the upstream CI didn't appear there.
PR fixing upstream CI: https://github.com/oracle/graal/pull/2840

[2020-09-11 14:32] zakkak commented on #134
Tracked upstream https://github.com/oracle/graal/issues/2841

[2020-09-14 05:12] galderz commented on #134
Subtle catch!

[2020-09-14 16:34] jerboaa commented on #125
@zakkak FYI: I'm working on a backport of https://github.com/oracle/graal/commit/d7b5904db656d1313d6462a0034818dfccbbb69b

[2020-09-14 19:25] zakkak commented on #125
Nice, thanks for the heads up!

[2020-09-17 12:51] Karm opened #137 "Mandrel 20.1 branch is broken: missing implementation for runtime call: indexOf1Byte(byte[],int,int,byte)int"
[code]

Uh uh....#ThisShouldNotBeHappeningNow

ideas?

[2020-09-17 12:53] zakkak commented on #137
This is me toying around :)
Sorry

[2020-09-17 12:53] #137 closed

[2020-09-18 17:35] Karm opened #139 "Native image, executable debugging, GDB: `sources` not properly generated while building from a jar"
Hello,

Although it seems gdb is aware of the source files, e.g. it is able to set breakpoints, it doesn't seem to list the actual source code when prompted. It struck me while developing automation for gdb session as my test apps are packaged as jars by Maven.
When I compile the app in the default package and use the class directly, the behavior seems correct.

# Works :heavy_check_mark:
See: [wo

[2020-09-18 20:08] zakkak commented on #139
@Karm does `mvn package` generate an archive with the sources along with `target/debug-symbols-smoke.jar`? If not, that's the issue here.

When using jars Graal is looking for `target/debug-symbols-smoke-sources.jar` or `target/debug-symbols-smoke.zip` to get the source files from.
See https://github.com/graalvm/mandrel/blob/mandrel/20.1/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hos

[2020-09-18 21:36] Karm commented on #139
@zakkak I have amended the description, it is indeed just `sources` generation.       I will make maven generate the sources jar and see...

[2020-09-19 06:26] Karm commented on #139
@zakkak

[code]

Fixed it :-)     Thx for [:duck: ](https://en.wikipedia.org/wiki/Rubber_duck_debugging)

[2020-09-19 06:26] #139 closed

[2020-09-30 00:09] Karm opened #141 "GDB: Line numbers off, Thread names missing characters, Quarkus: galderz/quarkus/tree/t_sourcecache_container_12283"
## Description
 * After some stepping, line numbers are off. It looks like the line numbers are off as soon as JDK sources are entered.
 * Thread names are missing first characters, e.g. `Thread 4 "ecutor-thread-1"` instead of expected `Thread 4 "Executor-thread-1"`

The former is an issue. The latter is just a nuisance.

## How To Reproduce

Mind the location `/tmp/` or adjust the `set directorie

[2020-09-30 00:12] Karm commented on #141
The used https://github.com/quarkusio/quarkus/pull/12294 is now in master and 1.7.4.

[2020-09-30 15:07] Karm commented on #141
@jerboaa WDYT?

[2020-09-30 16:20] jerboaa commented on #141
@Karm I'll take a look.

[2020-09-30 18:20] jerboaa commented on #141
@Karm I can confirm the issue. As to what's wrong, I've got no idea :-(

[code]

[2020-09-30 18:22] jerboaa commented on #141
@adinn FYI. This might be something for you to look at. I'll try to reproduce with upstream master tomorrow.

[2020-09-30 19:54] zakkak commented on #55
I have manually added a changelog to 20.1.0.2.Final and the upcoming releases will feature one generated by https://github.com/graalvm/mandrel-packaging/blob/master/release-scripts/mandrel-release.java#L529

[2020-09-30 19:54] #55 closed

[2020-09-30 20:35] zakkak commented on #141
Regarding thread names, this is expected. Linux kernel does not support more than 15 chars (plus the null terminating char) to be used as thread names. Size defined [here](https://github.com/torvalds/linux/blob/02de58b24d2e1b2cf947d57205bd2221d897193c/include/linux/sched.h#L212)

[2020-09-30 21:03] Karm commented on #141
@jerboaa THX .

@zakkak ...and if it was cut and the end, it would be all "Executor-worker" without "-1" or "-23" :)  O.K. Thanks for the explanation. I did not know about the limitation. Non issue then.

[2020-09-30 21:55] zakkak commented on #141
Regarding the first issue, it appears that you are hitting a substituted method and the line number makes total sense in the file where the substitution is happening.

`java.base/java/lang/System.java:297` should be `com/oracle/svm/core/jdk/JavaLangSubstitutions.java:297`
https://github.com/graalvm/mandrel/blob/646a5e5a344751321c0c2b809b2bd8c353adb16e/substratevm/src/com.oracle.svm.core/src/com/or

[2020-09-30 22:02] zakkak commented on #141
@adinn I don't see any special handling for this so I will work on fixing it. If you are already taking care of this somehow please let me know.

[2020-09-30 23:28] zakkak commented on #128
This is a Quarkus issue, thus I opened an issue to track this on the Quarkus repo https://github.com/quarkusio/quarkus/issues/12434

[2020-09-30 23:28] #128 closed

[2020-10-01 00:38] zakkak commented on #134
This is now fixed upstream (both in Quarkus https://github.com/quarkusio/quarkus/pull/12344 and in Graal https://github.com/oracle/graal/issues/2841) and once #140 gets merged our CI will be operational again.

[2020-10-01 00:38] #134 closed

[2020-10-01 07:45] jerboaa commented on #141
Ah, right! Thanks @zakkak

[2020-10-06 06:42] Karm commented on #22
Hit it again earlier today: https://ci.modcluster.io/job/mandrel-20.1-linux-test/OS_AXIS=centos8%7C%7Crhel8/135/consoleText

Quarkus 1.7.5, Mandrel 20.1 branch.

[code]

[2020-10-06 07:13] Karm opened #145 "Native image, -Dquarkus.native.debug.enabled=true, Quarkus 1.8+ does not copy sources; Quarkus 1.7.x does"
Hello,

With Oracle GraalVM 20.2+ or Mandrel 20.1+ as JAVA_HOME and GRAALVM_HOME, bin/ on PATH, the following should generate sources alongside debuginfo:

[code]

There is neither `/tmp/code-with-quarkus/target/sources-cache` nor `/tmp/code-with-quarkus/target/code-with-quarkus-1.0.0-SNAPSHOT-native-image-source-jar/sources/`.

If you simply change the version in `pom.xml` to 1.7.5.Final and re-r

[2020-10-06 11:52] zakkak commented on #145
@Karm the problem you describe has been fixed by:

1. https://github.com/quarkusio/quarkus/pull/12294 (fixes the issue with sources not being generated when building with a container)
2. https://github.com/quarkusio/quarkus/pull/12351 (places source cache to `/tmp/code-with-quarkus/target/sources`)

There is also 3. https://github.com/quarkusio/quarkus/pull/12405 that removes the need to point gdb

[2020-10-06 11:58] Karm commented on #145
@zakkak Thanks for the summary. It makes sense now.

[2020-10-08 13:58] zakkak commented on #145
@Karm can we close this since it is Quarkus issue and not a Mandrel/Graal issue?

[2020-10-08 14:00] zakkak commented on #111
This is now fixed upstream https://github.com/oracle/graal/commit/929dde28d8ba99b3d044be2b6fb86ce1625a2286

[2020-10-08 14:04] Karm commented on #145
Closing.

[2020-10-08 14:04] #145 closed

[2020-10-12 11:32] Karm opened #146 "Build fail main (master) branch: ` cannot find symbol SpeculationReasonEncoding`"
Hello,

October 10
----------
[code]

October 11
----------
[code]
[code]

[2020-10-12 11:33] Karm commented on #146
@jerboaa Is this expected? I will update to 11.0.9+10 now.

[2020-10-12 12:27] zakkak commented on #146
It looks like https://github.com/oracle/graal/commit/2d5eee064d2a9a6ec2e99c68c48ecfe9b8fc7e86 depends on https://bugs.openjdk.java.net/browse/JDK-8220623 (backported to labsJDK11 in https://github.com/graalvm/labs-openjdk-11/commit/fbbdf5f15300716110d2ac9b9bd7f70b03b35a7d).

[2020-10-12 12:55] jerboaa commented on #146
As expected this fails with 11.0.9+10 too. @zakkak seems right. We probably need some conditional code to not use `SpeculationReasonEncoding` for OpenJDK-based graal VM (Mandrel).

[2020-10-12 20:52] zakkak opened #147 "[20.1] SmallRye GraphQL fails on Quarkus 1.7.5.Final"
## Description
After https://github.com/graalvm/mandrel/pull/142 SmallRye GraphQL fails on branch 20.1 with:

[code]

https://github.com/graalvm/mandrel/pull/143/checks?check_run_id=1211202346#step:17:189

## How To Reproduce

[code]

[2020-10-13 05:40] galderz commented on #22
@Karm What did you hit again? This issue is about an NPE...

[2020-10-13 05:42] galderz commented on #22
Ah, I see the exception in the original bug. The issue has been fixed in jdk/jdk and its on its way to being backported to jdk/11.  FYI [JDK-8251397](https://bugs.openjdk.java.net/browse/JDK-8251397).

[2020-10-13 05:42] galderz commented on #22
Actually, it's already part of jdk11u-dev (see [JDK-8254025](https://bugs.openjdk.java.net/browse/JDK-8254025)), so should be fixed in JDK 11.0.10.

[2020-10-13 12:16] Karm commented on #147
@zakkak

Hmm, this is either intermittent or happened *after* our  builder image was released to [Catalog](https://catalog.redhat.com/software/containers/quarkus/mandrel-20-rhel8/5f43d40b73bfe598d1857c15)....hmmm.  Do we reflect it somehow in the labels? How...?

Mandrel builder image: quarkus-quarkus-mandrel-20-rhel8:20.1-12
Quarkus: 1.7.5.Final
JDK version: OpenJDK 11.0.8+10
Log: [link](https://

[2020-10-13 12:22] zakkak commented on #147
@Karm the builder image is based on 20.1.0.2 and does not include https://github.com/graalvm/mandrel/pull/142. https://github.com/graalvm/mandrel/pull/142 is targeted for 20.1.0.3 (so we need to fix this before that release :)

[2020-10-13 12:44] Karm opened #148 "Mandrel master, Error: No instances of java.awt.color.ICC_ColorSpace are allowed, Quarkus 1.7.5.Final,1.9.0.CR1"
Hello,

Mandrel master `0d53b7344d498167cf0b25f9a5e9b36bbb7b7775, refs/remotes/origin/graal/master` fails to build the undermentioned Quarkus application and crashes on:

[code]

# Steps to reproduce

`tar -xf` [mandrel-java11-linux-amd64-master.tar.gz](https://ci.modcluster.io/view/Mandrel/job/mandrel-master-linux-build/107/artifact/mandrel-java11-linux-amd64-master.tar.gz)
`export JAVA_HOME=$(pw

[2020-10-13 12:46] zakkak commented on #148
This needs to be fixed in Quarkus.

Being tracked in https://github.com/quarkusio/quarkus/issues/12535

[2020-10-13 12:47] Karm commented on #148
@zakkak I somehow managed to miss it. Thanks. Closing it here.

[2020-10-13 12:47] #148 closed

[2020-10-13 13:20] galderz opened #149 "Libgraal failing to compile with Java 11"
Re: #146

I've double checked @Karm's comment and I'm having issues also with `0d53b7344d498167cf0b25f9a5e9b36bbb7b7775` when calling `mx build` from substratevm:

[code]

The missing method is in jdk/jdk (see https://github.com/openjdk/jdk/commit/e15849a0f8e44600d38d56f1c1b2518c66ac67a3), but the backport of that bug to Java didn't include that commit (see my comment in [JDK-8242648](https://bugs

[2020-10-13 14:01] galderz commented on #147
I think this is a genuine issue, that was being hidden away due to the bug in #142. These kind of errors are not new, we've seen similar ones before (like https://github.com/quarkusio/quarkus/issues/8081). They need some attention to see how to deal with the given class lookup issue.

[2020-10-13 14:37] zakkak commented on #149
The LibGraal component is not part of Mandrel, thus this issue does not appear when building with https://github.com/graalvm/mandrel-packaging.

It appears that by default `mx build` includes `LibGraal` and that's what is causing this issue:
[code]

Building using `mx --primary-suite-path substratevm --components='Native Image' build` should work around this issue if you don't want to use mandrel-

[2020-10-13 14:55] galderz commented on #149
`mx --primary-suite-path substratevm --components='Native Image' build` is not enough.

[2020-10-13 20:11] zakkak commented on #149
Indeed, even though it doesn't list `LibGraal` as a component, `GRAAL_HOTSPOT_LIBRARY` which depends on `com.oracle.svm.graal.hotspot.libgraal` somehow makes it into the build plan.

[2020-10-13 20:13] zakkak commented on #149
I marked this as a `wontfix` since this does not affect building Mandrel with mandrel-packaging.

I am curious though to figure out why `GRAAL_HOTSPOT_LIBRARY` gets build :)

[2020-10-15 12:43] zakkak commented on #125
@Karm @jerboaa it looks like this is no longer needed
See https://github.com/oracle/graal/commit/ece265a89e6cfa8cd5f10881891f73661f5cc04f

[2020-10-15 13:14] zakkak commented on #125
FTR:
The warningg was added in https://github.com/oracle/graal/commit/2a1945d6e36e2f7c1bdc5756f30d72c5332f4f89 (which affects 20.2)
and later removed in https://github.com/graalvm/mandrel/commit/9a1f46d9e6c149ed9720666a66f9e18a7baa4c3e (which is expected to end up in 20.3)

[2020-10-15 18:12] jerboaa commented on #125
Thanks for the detective work, @zakkak. I believe moving to the new layout is for the better.

[2020-10-19 16:29] jerboaa commented on #147
I think we should temporarily revert #142 and include it once a quarkus release includes the fix for https://github.com/quarkusio/quarkus/issues/12795

We should also remove from the 20.1.0.3 milestone. Thoughts?

/cc @galderz @Karm @zakkak

[2020-10-19 17:53] Karm commented on #147
+1

[2020-10-22 04:58] #149 closed

[2020-10-22 05:09] zakkak commented on #125
11.0.9-GA is now released and the issue is no longer present in either version

[2020-10-22 05:09] #125 closed

[2020-10-23 13:21] jerboaa opened #158 "Instructions mention libffi-devel being needed. Still true?"
We have this in our README.md:

[code]

Is `libffi-devel` still needed? Isn't that a truffle only dep, which got removed with https://github.com/graalvm/mandrel-packaging/pull/61/files

[2020-10-23 13:21] jerboaa commented on #158
@zakkak Thoughts?

[2020-10-23 21:13] zakkak commented on #158
@jerboaa you are right:

20.1.0.2.Final fails without `libffi-dev`:
[code]

While 20.1.0.3.Final works fine:
[code]

[2020-10-26 14:00] #158 closed

[2020-10-27 08:42] jerboaa commented on #158
Thanks for clarifying.

[2020-11-17 22:25] zakkak opened #168 "Publish SHA256 of distributions"
It would be nice to start publishing SHA256 files for our distributions like GraalVM CE started doing in 20.3 https://github.com/graalvm/graalvm-ce-builds/releases

[2020-11-17 22:41] zakkak opened #169 "Quarkus Main test suite is failing with 20.3"
## Description
`io.quarkus.it.main.ResourcesITCase` fails with:
[code]

`io.quarkus.it.main.ImageIOITCase` fails with:
[code]

## How To Reproduce
Steps to reproduce the behavior:
1. `git clone ...`
2. `native-image ...`
3. `mycmd ...`

### Configuration:
 - OS: Fedora 33
 - Architecture: AMD64
 - Mandrel version: `mandrel/20.3` branch
 - JDK version: OpenJDK 11.0.9+11

## Expected behavior
Tests

[2020-11-17 23:15] zakkak opened #170 "Quarkus HTTP tests fail with 20.3 in GH workflow"
## Description
`quarkus-integration-test-vertx-http` fails with:
[code]

`quarkus-integration-test-rest-client` fails with:
[code]

## How To Reproduce
I was **not** able to reproduce locally with:
1. Build `mandrel/20.3` using https://github.com/graalvm/mandrel-packaging
2. `git clone git@github.com:quarkusio/quarkus.git`
3. `cd quarkus`
3. `mvn -Dnative.surefire.skip -Dnative verify -pl integrat

[2020-11-17 23:22] zakkak opened #171 "Quarkus Misc2 tests fail with 20.3"
## Description
`quarkus-integration-test-tika` fails to build with:
[code]

## How To Reproduce
Steps to reproduce the behavior:
1. Build `mandrel/20.3` using https://github.com/graalvm/mandrel-packaging
2. `git clone git@github.com:quarkusio/quarkus.git`
3. `cd quarkus`
3. `mvn -Dnative.surefire.skip -Dnative verify -pl integration-tests/tika`

### Configuration:
 - OS: Fedora 33
 - Architecture:

[2020-11-17 23:27] #111 closed

[2020-11-18 10:29] jerboaa commented on #147
I'd like to keep this open as we'll depend on Quarkus 1.7.6.Final for this to work. As such, our 20.1.0.4 release depends on the Quarkus release.

[2020-11-18 12:22] #171 closed

[2020-11-18 12:56] Karm commented on #168
@zakkak i.e. to replace SHA1 we have been using since day one with SHA256 or do you mean to hash something else?

[2020-11-18 12:59] zakkak commented on #168
Either replace or add, just to make SHA256 available for consistency with GraalVM CE.

[2020-11-18 13:01] Karm opened #175 "Difference in method notation in GDB session, native-image"
## Description

Hello,

In a debug session, command ```info functions .*smoke.*``` should list functions matching the given regexp. Mandrel 20.3 swapped `::` with `.` as a notation for method names. I am not sure if it was a deliberate change or whether it is a bug...

### Mandrel 20.2 notation:
[code]

### Mandrel  20.3 notation:
[code]

### Configuration:
 - OS: Linux
 - Architecture: AMD64
 - M

[2020-11-19 11:39] Karm opened #179 "Windows, Mandrel and native-image specific: CreateProcess error=193, %1 is not a valid Win32 application"
## Description
Quarkus TS passes with expected failures common to Linux too with the exception of a couple of tests reporting:
[code]
I haven't nailed it down yet. I bet it has something to do with native-image.cmd being a cmd file and not .exe file as with Graal CE distro. It sounds like a problem with escaping arguments...

## How To Reproduce
Run Quarkus 1.9.2.Final TS quarkus\integration-tests

[2020-11-19 11:42] Karm commented on #170
@zakkak There were already debated [here](https://github.com/quarkusio/quarkus/issues/13275#issuecomment-726741225), weren't they?

[2020-11-19 11:43] Karm commented on #169
Windows too.

[2020-11-19 11:46] zakkak commented on #170
Yes, this is probably the same issue, but it is also kind of strange that in our GH workflow they seem to pass for 20.2 https://github.com/graalvm/mandrel/runs/1309439260#step:18:1111

[2020-11-20 06:35] #175 closed

[2020-11-21 23:19] sherl0cks opened #180 "AWT Support is Incomplete in 20.3.beta1"
## Description
The backport of https://github.com/oracle/graal/commit/5d2997a9ac8cafdfc6b5c316532165839ad7d1af is insufficient to load a buffered image via Apache Imaging or Image IO in a native linux image. I was able to get the native image built, so it does mean that backport does provide some meaningful AWT functionality (see https://github.com/oracle/graal/issues/2842 for context).

## How To

[2020-11-24 14:51] zakkak commented on #180
Hi @sherl0cks thanks for reporting this issue

I tried both and they both fail on upstream graal `master` as well, so the issue should be reported and tracked there instead.
Note that Mandrel is a downstream distribution of GraalVM, so issues should be first fixed upstream and then get backported to Mandrel.

I am marking this as `pending-upstream` and leaving it open.

[2020-11-26 13:22] jerboaa commented on #180
This is being tracked upstream as https://github.com/oracle/graal/issues/1163

I've added a comment that the current support is still insufficient for ImageIO:
https://github.com/oracle/graal/issues/1163#issuecomment-734294353

Let's see if I can come with a patch to address these.

[2020-11-27 13:15] zakkak commented on #169
Quarkus upstream issue https://github.com/quarkusio/quarkus/issues/13472

[2020-11-27 14:56] jerboaa commented on #180
So apparently most of the issues go away if you first pre-configure reflection and JNI via the `native-image-agent`. My testing shows ImageIO read/write working for all OpenJDK supported types except jpeg. I'm running into an issue for `jpeg` images which I'll look into next. I've used the Beta2 mandrel image (id: `3009043c5777`) for this testing as it has the `native-image-agent` included.

[code

[2020-11-27 15:01] jerboaa commented on #180
Adding back in `jpg, ` in `TestImageIOWrite.java` results in this when running the native image:

[code]

[2020-11-27 19:47] jerboaa commented on #180
Tracked upstream with:
https://github.com/oracle/graal/issues/3031

[2020-11-30 16:49] galderz commented on #180
Created https://github.com/quarkusio/quarkus/issues/13567 to add the necessary configuration to quarkus to enable this use case.

[2020-12-03 09:33] zakkak commented on #168
[mandrel-packaging](https://github.com/graalvm/mandrel-packaging/pull/80) now takes care of this.
Release 20.3.0.0.Beta2 is the first to feature SHA256 hashes along with the SHA1 ones.

[2020-12-03 09:33] #168 closed

[2020-12-03 09:45] zakkak commented on #146
Pending on upstream: https://github.com/oracle/graal/pull/2945

[2020-12-03 09:49] zakkak commented on #169
`io.quarkus.it.main.ResourcesITCase` case fixed in Quarkus by https://github.com/quarkusio/quarkus/pull/13473

[2020-12-03 10:06] zakkak commented on #170
This no longer appears after merging https://github.com/graalvm/mandrel/pull/181

[2020-12-03 10:06] #170 closed

[2020-12-11 09:37] jerboaa commented on #146
https://github.com/oracle/graal/pull/2945 has been integrated. Closing.

[2020-12-11 09:37] #146 closed

[2021-01-08 17:43] Karm opened #189 "Ubuntu installation instructions incomplete"
We need to install freetype...but fontconfig package doesn't help it seems....

[code]

[2021-01-08 18:51] Karm commented on #189
This did the trick:

[code]

[2021-01-13 23:19] Karm opened #190 "Linker fails: liblcms.a(LCMS.o): In function `JNI_OnLoad_dynamic_lcms': undefined reference to `cmsSetLogErrorHandler'"
## Description

Builder image 20.3-1 doesn't let Quarkus 1.7.6.Final TS pass, There are numerous failures to build integration tests cases, e.g. google-cloud-functions-http, grpc-proto-v2, grpc-interceptors, webjars-locator and more. All those failures have a linker failure in common:

[code]

Example of a full log: [google-cloud-functions-http](https://gist.github.com/Karm/d4f4dbd5c631681ff61387e

[2021-01-13 23:20] Karm commented on #190
Might interest: @jerboaa

[2021-01-14 11:07] zakkak commented on #190
@Karm Quarkus 1.7.6 is not compatible with Graal/Mandrel 20.3, you need to use 20.1

[2021-01-14 11:07] #190 closed

[2021-01-18 15:01] zakkak commented on #147
1.7.6.Final is out https://github.com/quarkusio/quarkus/releases/tag/1.7.6.Final

[2021-01-18 15:01] #147 closed

[2021-01-21 17:35] Karm opened #197 "Quarkus 1.11.0.Final, bouncycastle-fips-jsse module"
Hello, looking at the [ts results](https://ci.modcluster.io/job/mandrel-linux-quarkus-tests/LABEL=el8,MANDREL_VERSION=21.0,QUARKUS_VERSION=1.11.0.Final/8/consoleText), it seems we are having an issue with `sun.security.provider.NativePRNG$Blocking` init. The area of seed init etc. is notorious, so I believe this might be more on the Graal/Mandrel side of things.   Let's close this and reopen on Qu

[2021-01-21 22:07] zakkak commented on #197
It's failing [on 20.3 as well](https://ci.modcluster.io/job/mandrel-linux-quarkus-tests/LABEL=el8,MANDREL_VERSION=20.3,QUARKUS_VERSION=1.11.0.Final/8/console).

[2021-01-21 22:16] zakkak commented on #197
Note however that the test is not enabled in [the Quarkus TS on GH](https://github.com/quarkusio/quarkus/blob/1.11.0.Final/.github/native-tests.json#L73).

Testing locally with GraalVM CE 20.3.0 I get the same result, so this doesn't look like a Mandrel issue.

To reproduce run:
[code]

[2021-01-22 12:51] zakkak opened #198 "ImageIO tests failing with Mandrel builds based on OpenJDK 11.0.10+9"
## Description
imageioAWTTest from mandrel-integration-tests fails with [mandrel-198.out](https://gist.github.com/9e2979eec6e39acc119b53ecd2625564)

## How To Reproduce
Build latest `mandrel/20.3` or `mandrel-20.3.0.0.Final` with OpenJDK 11.0.10+9 and
[code]

### Configuration:
 - OS: Fedora 33
 - Architecture: AMD64
 - Mandrel version: `mandrel-20.3.0.0.Final` build using 11.0.10+9, `mandrel/20.3

[2021-01-29 20:11] #198 closed

[2021-02-04 14:14] zakkak commented on #169
This issue has been fixed in 20.3.1

[2021-02-04 22:43] zakkak opened #208 "Extra linker flags needed when building apps that depend on AWT and Mandrel is based on an OpenJDK build that depends on system libraries"
## Description

OpenJDK builds that ship with Fedora and Ubuntu (and possibly other distributions) depend on system libraries, while the [OpenJDK Project Builds distributed through AdoptOpenJDK](https://adoptopenjdk.net/upstream.html?variant=openjdk11&ga=ga) use OpenJDK in-tree libraries instead.

On Fedora 33 running:
[code]
prints:
[code]

Similarly on Ubuntu 20.04 running:
[code]
prints:
[code]

[2021-02-04 23:02] zakkak opened #210 "Mandrel fails to build with OpenJDK 11.0.11+1 EA build"
## Description
Mandrel fails to build with [OpenJDK 11.0.11+1 EA build](https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/tag/jdk-11.0.11%2B1)

The build fails with:
[code]
(see https://github.com/graalvm/mandrel/runs/1834775399)

## How To Reproduce
[code]

### Configuration:
 - OS: Fedora 33
 - Architecture: AMD64
 - Mandrel version: all
 - JDK version: OpenJDK 11.0.11+1

## E

[2021-02-05 10:24] jerboaa commented on #208
I'm not sure why I'm assigned to this issue.

There is nothing we can do about that in mandrel as the JDK static-libraries come from the base JDK (OpenJDK) and one is at the mercy of the OpenJDK provider to build static-libs in a way so that intree AWT deps are being used (over system libraries). My proposal to do that for Fedora is here:
https://src.fedoraproject.org/rpms/java-11-openjdk/pull-req

[2021-02-05 11:36] zakkak commented on #208
https://src.fedoraproject.org/rpms/java-11-openjdk/pull-request/109

The reason you are working on getting it fixed on Fedora is the reason why I assigned it to you :)

[2021-02-15 03:17] #179 closed

[2021-02-17 17:35] zakkak commented on #210
Fixed in https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/pull/20

[2021-02-17 20:53] #210 closed

[2021-02-17 21:08] zakkak opened #214 "`graal/master` branch fails to build with latest OpenJDK 11.0.11 EA"
## Description
`graal/master` branch fails to build with latest OpenJDK EA, but builds fine with OpenJDK GA. The rest of the branches also build with both OpenJDKs.

[code]
See https://github.com/graalvm/mandrel/runs/1916200074?check_suite_focus=true#step:7:37

### Configuration:
 - OS: Fedora 33
 - Architecture: AMD64
 - Mandrel version: branch `graal/master`
 - JDK version:  11.0.11+2 EA build

[2021-02-17 22:56] zakkak commented on #214
Running the build with `--verbose` shows that the failure when building `native-image-agent-library`:
[code]

The failure is triggered by the substitution [here](https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.methodhandles/src/com/oracle/svm/methodhandles/Target_java_lang_invoke_MethodHandles_Lookup.java#L49-L57).

[2021-02-18 14:30] zakkak commented on #214
The issue seems to be due to labs-openJDK-11 (and Graal) being out of sync with jdk11u-dev, the missing change is https://github.com/openjdk/jdk11u-dev/commit/806545796aed36a5adf34f344049d35a2313afe1#diff-32b33c7b5aa77e89f0218dc313bcdeb3edcc526ca6f5f9c31839f474d92a1d4bL2339-R2333

[2021-02-18 15:04] zakkak commented on #214
The following patch fixes it (but breaks 11.0.10 builds).

[code]

[2021-02-18 16:46] jerboaa commented on #214
So it's https://bugs.openjdk.java.net/browse/JDK-8235351in 11.0.11 which is causing it. It'll eventually trickle down to labs jdk. So there likely need to be version specific substitutions. One for 11.0.10 and earlier in the JDK 11 train and one for JDK 11.0.11+.

[2021-02-19 13:29] zakkak commented on #214
I am not sure it's worth it given that both the labs-openJDK and the OpenJDK will be on par for the 21.1 release.
But, let's better discuss this in [the email thread](https://oss.oracle.com/pipermail/graalvm-dev/2021-February/000100.html). Or feel free to open an upstream issue if you prefer to discuss it there.

[2021-02-19 14:01] zakkak commented on #22
Mandrel is now based on 11.0.10 and AFAIK the issue has not appeared again.

[2021-02-19 14:01] #22 closed

[2021-02-19 15:26] jerboaa commented on #214
So why would labsjdk based on 11.0.11 not run into it, though? Anyway I've filed an upstream issue. I hope it's OK that I took your fix and slightly adjusted it so it works with 11.0.10 and 11.0.11.

[2021-02-19 20:33] maxandersen opened #216 "Make a Windows build"
**Is your feature request related to a problem? Please describe.**
similar to #114 but for Windows

**Describe the solution you'd like**
That we have a community available version of mandrel that runs and builds windows binaries.

[2021-02-19 21:20] zakkak commented on #214
It would, but at that point the fix from https://github.com/graalvm/mandrel/issues/214#issuecomment-781406547 could be applied and get that fixed. Since we don't anticipate anyone building newer GraalVM versions with outdated OpenJDK releases I just didn't think it's worth adding a check for <= 11.0.10 and >= 11.0.11. It looks like I was wrong though :)

Yup, that's totally fine. Thanks for taking

[2021-02-22 10:27] jerboaa commented on #214
I see. From past experience they want to keep backwards compatibility for building, which is somewhat understandable as you'd otherwise have to force every developer to use the latest base JDK for building (which includes gates/ci).

[2021-02-23 13:38] jerboaa commented on #214
@zakkak Can we close this now or is it still an issue?

[2021-02-23 13:40] #214 closed

[2021-02-23 13:41] jerboaa commented on #216
@maxandersen I don't understand the issue. We have Windows Mandrel builds:
https://github.com/graalvm/mandrel/releases/tag/mandrel-20.3.1.2.Final

For example:
https://github.com/graalvm/mandrel/releases/download/mandrel-20.3.1.2.Final/mandrel-java11-windows-amd64-20.3.1.2.Final.zip

[2021-02-23 13:42] maxandersen commented on #216
GAH. I missed those somehow. Then just close :)

[2021-02-23 13:51] jerboaa opened #218 "java.lang.IllegalArgumentException: Invalid version string '21.0.0.0.Final'."
## Description
When Graal SDK's `Version` class is being used, e.g. by an BooleanSupplier impl class so as to only substitute a class for a specific Graal/Mandrel version an IAE is being thrown.

## How To Reproduce
Steps to reproduce the behavior:
1.  Use https://github.com/Karm/mandrel-integration-tests/pull/17
2.  `$ mvn clean verify -Ptestsuite -DexcludeTags=all -DincludeTags=versions`

### Co

[2021-02-23 13:53] jerboaa commented on #218
Note that such a pattern has been introduced in Quarkus master with:
https://github.com/quarkusio/quarkus/commit/a4ca69e789e35a9efa96a60ebedaff7c6a9e0326

[2021-02-23 14:05] #216 closed

[2021-02-23 14:26] jerboaa commented on #218
Work-around is to pass `-J-Dorg.graalvm.version=21.0.0.0` to the `native-image` invocation.

I'll see if upstream could get convinced to change the version parsing logic.

[2021-02-23 14:29] jerboaa commented on #214
Fixed with: https://github.com/oracle/graal/commit/7d23c3aa6c7e8f2687a13ca4dbdea2d080687f26

[2021-02-23 19:47] jerboaa commented on #218
Looking at [VersionTest.java](https://github.com/oracle/graal/blob/master/sdk/src/org.graalvm.home.test/src/org/graalvm/home/test/VersionTest.java) it looks like `21.0.0.0-Final` parses properly and `21.0.0.0.Final` does not. This seems confirmed in my preliminary testing.

[2021-02-25 10:30] rsvoboda commented on #218
I see this issue in our daily runs in GH Actions when using `ubi-quarkus-mandrel:21.0-java11` image.

GraalVM CE based`ubi-quarkus-native-image:21.0-java11` works fine.

[2021-02-25 14:02] jerboaa commented on #218
@rsvoboda Thanks. We'll get it fixed and put out new releases of the tarballs and images. Sorry about that.

[2021-02-25 14:06] jerboaa commented on #218
@rsvoboda If you want you could add `-Dquarkus.native.additional-build-args="-J-Dorg.graalvm.version=21.0.0.0"` for the failing CI until a fix is available (which should be soon too).

[2021-03-01 03:18] #197 closed

[2021-03-01 17:34] jerboaa commented on #208
https://src.fedoraproject.org/rpms/java-11-openjdk/pull-request/111 has been merged. We'll wait for this fix to hit stable Fedora releases and we can close it after.

[2021-03-02 10:28] jerboaa commented on #218
New mandrel releases with this issue fixed:
20.3: https://github.com/graalvm/mandrel/releases/tag/mandrel-20.3.1.2-Final
21.0: https://github.com/graalvm/mandrel/releases/tag/mandrel-21.0.0.0-Final

Quarkus Images PR to re-release container images is here:
https://github.com/quarkusio/quarkus-images/pull/138

[2021-03-08 13:36] #189 closed

[2021-03-08 15:29] zakkak commented on #218
The new images our now available [here](https://quay.io/repository/quarkus/ubi-quarkus-mandrel?tag=latest&tab=tags)

[2021-03-08 15:29] #218 closed

[2021-03-22 11:32] zakkak opened #225 "Mandrel build failure with latest graal"
`graal/master` branch fails to build (both with OpenJDK 11 GA and EA).

The error log is:
[code]

See: https://github.com/graalvm/mandrel/runs/2154085147?check_suite_focus=true

[2021-03-23 13:29] zakkak commented on #225
The issue appears in the compile face of `native-image` when trying to build `native-image-agent-library`.

The same happens when compiling HelloWorld.

Running `native-image -H:+ReportExceptionStackTraces HelloWorld` results in:

[code]

[2021-03-23 14:01] zakkak commented on #225
The issue seems to be caused by https://github.com/oracle/graal/commit/aefd22d55e3aba56225dc10579441c9263d5125e

Reverting:
* 57961ead3c4
* 4ec0567f1a9
* c323ce752d3
* 11467c9ad54
* 2a9be929d7f
* f726e400785

`git revert --no-commit 57961ead3c4 4ec0567f1a9 c323ce752d3 11467c9ad54 2a9be929d7f f726e400785`

makes mandrel build again :eyes:

[2021-03-25 16:17] jerboaa opened #226 "Quarkus integration-tests/jgit fails to parse bytecode"
## Description
This seems to be a bug which doesn't reproduce 100% When using a graal vm 21.1-dev build from: https://github.com/graalvm/graalvm-ce-dev-builds/releases/tag/21.1.0-dev-20210323_2140 and trying to generate a native-image from `integration-tests/jgit` will sometimes fail with a bytecode parsing error. Caused by an NPE.

## How To Reproduce
Steps to reproduce the behavior:
1. Get a Gra

[2021-03-25 18:10] jerboaa commented on #180
This seems to be working fine with the latest mandrel 21.0 image:

[code]

Closing, as it's fixed with quay.io/quarkus/ubi-quarkus-mandrel:21.0-java11

[2021-03-25 18:10] #180 closed

[2021-03-25 20:30] zakkak commented on #226
The `EnumSwitchPlugin` seems pretty new (introduced with https://github.com/oracle/graal/commit/9d785edc64657f662b328b119f07891e5bb4467e). I believe we should report this upstream.

[2021-03-26 05:29] #225 closed

[2021-03-26 13:13] jerboaa commented on #226
@zakkak Feel free to bring this upstream.

[2021-03-29 10:19] jerboaa opened #230 "native-image --version output change in 21.1.0-dev"
With Mandrel `21.0.0.0-Final` this version is being reported (despite it being a bash launcher):
[code]

With a recent build from Graal VM master (revision 205f6ef0cf8b12ca39b5bcde83d804428df78c3e, for example) we'd be reporting this instead:
[code]

This is being caused by an intentional change upstream: https://github.com/oracle/graal/commit/bcf982c95c1955f25c2bdf13b8996fed8a26911d See also: htt

[2021-03-30 12:16] zakkak commented on #230
Also the --version output for GraalVM CE itself is going to change from:
[code]
to
[code]
Note the removal of "Version" and the addition of "Java 11 CE".

I am considering submitting a PR to make the bash launcher print:
[code]
for GraalVM CE and
[code]
for Mandrel.

The corresponding **native** native-image should print:
[code]
for GraalVM CE and
[code]
for Mandrel.

WDYT?
\cc @gsmet @geoand @gas

[2021-04-01 13:34] zakkak commented on #226
Fixed by https://github.com/oracle/graal/pull/3318

[2021-04-01 13:34] #226 closed

[2021-04-07 13:16] zakkak opened #234 "Native native-image not working without `-J--add-exports=jdk.internal.vm.ci/jdk.vm.ci.code=jdk.internal.vm.compiler`"
## Description
The **native** `native-image` generated by `native-image --macro:native-image-launcher` requires `-J--add-exports=jdk.internal.vm.ci/jdk.vm.ci.code=jdk.internal.vm.compiler` to work.

## How To Reproduce
[code]

### Configuration:
 - OS: Fedora 33
 - Architecture: AMD64
 - Mandrel version: 20.3 and 21.0
 - JDK version: OpenJDK 11.0.10+9

## Expected behavior
`native-image` should wo

[2021-04-09 11:55] jerboaa commented on #230
Fixed with https://github.com/oracle/graal/pull/3329

[2021-04-14 09:43] jerboaa commented on #234
This is fixed in OpenJDK head with [JDK-8223332](https://bugs.openjdk.java.net/browse/JDK-8223332). This line:
http://hg.openjdk.java.net/jdk/jdk/rev/2d012a75d35c#l24.15

A partial backport of that large patch to OpenJDK 11u should be considered.

[2021-05-12 13:08] Karm opened #249 "Frequent Deadlock when compiling a specific snippet with --initialize-at-build-time="
# Steps to reproduce

Main.java
[code]

[code]

Works :heavy_check_mark:
[code]

Deadlocks :x:
[code]
See deadlock: https://gist.github.com/Karm/08184eb1e2f75bbe911f824506e16392

UnsatisfiedLinkError :x:
When it doesn't deadlock and compiles, the resulting binary does not work and end up with:

[code]

Note the `-H:DeadlockWatchdogInterval=1` is just for convenience. It is 100% reproducible withou

[2021-05-12 14:31] Karm commented on #249
@jerboaa Does it happen on your system too?

[2021-05-12 14:46] zakkak opened #252 "Quarkus jpa-oracle integration test fails to build"
## Description
Quarkus jpa-oracle integration test fails with Mandrel build from Graal head.

## How To Reproduce
Steps to reproduce the behavior:
1. `git clone https://github.com/graalvm/mandrel --branch graal/master`
2. `git clone https://github.com/graalvm/mandrel-packaging`
2. `git clone https://github.com/graalvm/mx`
3. `java -ea ./mandrel-packaging/build.java --mx-home mx --mandrel-repo mand

[2021-05-12 14:58] jerboaa commented on #249
I'll have a look and will report back.

[2021-05-12 16:31] Karm commented on #249
For the record, verbose log output from my Centos 8 workstation:

* [Deadlocked run](https://gist.github.com/Karm/47da0b3bbfd4e16136b7f7df4b81bd62)
* [Passing run](https://gist.github.com/Karm/de61828d895ddb6e9321054a8bde93ea)

[2021-05-12 17:11] Karm commented on #249
As to the `UnsatisfiedLinkError`:

This is where the two binaries differ in their flow according to the strace:

With `--initialize-at-build-time= ` :x:

[code]

Without  `--initialize-at-build-time= ` :heavy_check_mark:

[code]

[2021-05-13 08:14] zakkak commented on #252
Patching Quarkus with:
[code]
Makes the test build, but we still need to figure out why this is needed in Mandrel and not in GraalVM builds.

[2021-05-13 08:14] zakkak commented on #252
Patching Quarkus with:
[code]
Makes the test build, but we still need to figure out why this is needed in Mandrel and not in GraalVM builds.

[2021-05-13 10:35] zakkak commented on #252
@jerboaa this looks like a labs vs upstream OpenJDK issue to me.
I have tested it with a "mandrel build" based on labs OpenJDK and it works:
[code]
 If you have any clue please let me know.

[2021-05-14 08:44] Karm commented on #249
Hmm, it seems neither libawt_xawt.a nor libawt_headless.a are linked properly :-( , so
[code]
in fontpath.c is never found.

[2021-05-14 22:34] Karm commented on #249
With
[code]

A slight move: https://editor.mergely.com/gsdcWroP/

[2021-05-16 19:22] Karm commented on #249
# FIxed UnsatisfiedLinkError :heavy_check_mark: :fireworks:

...and for some reason, it seems to fix the deadlock for me too. I need to test that more thoroughly though.

**Patch:**
[code]

[2021-05-16 19:23] Karm commented on #249
FYI @jerboaa @zakkak ^^^

[2021-05-17 08:21] jerboaa commented on #252
@zakkak I'll put it on my plate of things to look at :) Thanks for the heads-up.

[2021-05-17 09:06] zakkak commented on #249
Nice!

You might find this interesting https://github.com/kkriske/graal/blob/08c7b3d71614cabb41ea58708786a839f9f06658/substratevm/src/com.oracle.svm.hosted/src/com/oracle/svm/hosted/snippets/SubstrateGraphBuilderPlugins.java#L1034-L1051

Regarding the UnsatisfiedLInkError, I see that it has been mentioned before in https://github.com/oracle/graal/issues/2729, I suggest opening a PR upstream with t

[2021-05-17 16:04] Karm commented on #249
@zakkak I am testing it with Graal master and I will have a PR presently...

[2021-05-17 16:44] Karm commented on #249
@zakkak Since this is not Mandrel specific after all, I opened it in the Graal repo: https://github.com/oracle/graal/pull/3417

[2021-05-26 12:34] zakkak commented on #141
This should now be fixed by oracle/graal#3421
@Karm please reopen if not.

[2021-05-26 12:34] #141 closed

[2021-05-26 12:39] zakkak opened #255 "CI failure on windows"
## Description

Since https://github.com/quarkusio/quarkus/commit/c6a1798d959f28390606ecd17cb90531b4d51238 got merged we are getting the following error message in [Mandrel's GH workflow for windows](https://github.com/graalvm/mandrel/runs/2671468898?check_suite_focus=true)

[code]

Zilip chat: https://quarkusio.zulipchat.com/#narrow/stream/187038-dev/topic/CI.20failure.20on.20Mandrel's.20Windows.

[2021-05-26 16:56] jerboaa commented on #252
This seems to be reproducible with mandrel 21.1.0.0-Final too (without the workaround in https://github.com/quarkusio/quarkus/commit/cf44a680e4de6f2335c2dc6dd284267c7ef5cadc obviously).

[2021-05-26 17:51] jerboaa commented on #252
It's also not reproducible with a JDK 16-based graal vm build, which suggests a JVMCI level difference.

Looks to be issues due to an incomplete class path a la:

https://github.com/quarkusio/quarkus/issues/8081
https://github.com/graalvm/mandrel/issues/147
https://github.com/apache/camel-quarkus/issues/1161
https://github.com/quarkusio/quarkus/pull/8185

Seems the best fixes for those kinds of is

[2021-05-26 17:53] jerboaa commented on #252
@zakkak We won't update the OpenJDK 11 JVMCI level as it's too risky, so I'm inclined to close this one as won't fix. Thoughts?

[2021-05-27 05:12] zakkak commented on #252
+1

Thanks for the summary @jerboaa !

[2021-05-27 05:12] #252 closed

[2021-05-31 12:45] #255 closed

[2021-06-10 08:40] zakkak commented on #208
@jerboaa it looks like the changes from https://src.fedoraproject.org/rpms/java-11-openjdk/pull-request/111 have been [pushed to F34](https://src.fedoraproject.org/rpms/java-11-openjdk/c/d6dfd5d5faa4572404a4251aca94c61dffa6f55e?branch=f34) and I can no longer reproduce the issue where we needed to add `-H:NativeLinkerOption="-llcms2"`.

Can you please verify and close this?

[2021-06-10 09:59] jerboaa commented on #208
Yes, this is fixed. Closing.

[2021-06-10 09:59] #208 closed

[2021-06-10 10:02] jerboaa commented on #208
With JDK 11.0.12 there should also be no issues with related to duplicate symbols. Fedora 33, 34 and lower build OpenJDK with `-fcommon` masking the issue. The `-fcommon` work-around has been removed since:
https://src.fedoraproject.org/rpms/java-11-openjdk/c/4b607408ff7cb8dc7177a74dac586af54b8a7069?branch=rawhide

OpenJDK bug which fixed this:
https://bugs.openjdk.java.net/browse/JDK-8264047

[2021-06-17 06:20] Karm opened #261 "JFR: -H:+AllowVMInspection, Could not find target method: public long com.oracle.svm.jfr.Target_jdk_jfr_internal_JVM.getEpochAddress"
Building e.g. this app: [debug-symbols-smoke](https://github.com/Karm/mandrel-integration-tests/tree/master/apps/debug-symbols-smoke) to enable JFR:

[code]
Causes:

[code]
native-image used comes from Mandrel distribution of recent Graal master:

[code]
The JDK used to build Mandrel comes from:  [Adopt jdk-11.0.12_5](https://github.com/AdoptOpenJDK/openjdk11-upstream-binaries/releases/tag/jdk-11.

[2021-06-17 06:22] Karm commented on #261
Ping @jiekang

[2021-06-17 07:26] Karm commented on #261
(sent an invite to jiekang)

[2021-06-17 09:44] zakkak commented on #249
Closing as `wontfix`, see https://github.com/oracle/graal/pull/3417 for details.

[2021-06-17 09:44] #249 closed

[2021-06-17 14:10] jiekang commented on #261
This is caused by an API removal from JVM.java that came from the backport of [JDK-8257621](https://bugs.openjdk.java.net/browse/JDK-8263882). We'll need to update the code to handle this change.

The base fix is very straightforward but needs some further adjustment. The StringPool is not yet implemented in SubstrateVM, so it must not be used by the Java EventWriter. Unfortunately the Java and na

[2021-06-17 14:20] zakkak opened #262 "-H:+AllowVMInspection results in java.lang.NoSuchMethodException: jdk.vm.ci.hotspot.HotSpotResolvedJavaMethodImpl.getMetaspaceMethod()"
## Description
Building a native image with `-H:+AllowVMInspection` fails with:
[code]

## How To Reproduce
Steps to reproduce the behavior:
1. `native-image -H:+AllowVMInspection HelloWorld`

### Configuration:
 - OS: Fedora 34
 - Architecture: AMD64
 - Mandrel version: 21.2.0-devc03bfc33d5.tar.gz
 - JDK version: 11.0.12-ea+5

## Expected behavior
Compilation should not fail

[2021-06-17 14:57] zakkak commented on #261
@jiekang can you please have a look at https://github.com/zakkak/mandrel/commit/12c66d8b943b130fb1b7da6da379485e7a619a7c?

I am not able to test it yet since after applying this patch it hits #262

[2021-06-17 15:08] jiekang commented on #262
For what it's worth, I found that `getMetaspaceMethod()` was added to openjdk latest here:

https://github.com/openjdk/jdk/commit/e9c523ae5f501d61b0bb7a8e725b3d5de7f3423e#diff-b39038af11e0ac6774aa1b7e66c1b11fa265194649762a4768446f74d6fbf2cdR211

https://bugs.openjdk.java.net/browse/JDK-8220623

[2021-06-17 15:10] jerboaa commented on #262
`getMetaspaceMethod()` was introduced in OpenJDK with [JDK-8220623](https://bugs.openjdk.java.net/browse/JDK-8220623), a JDK 13 change which hasn't been backported to OpenJDK 11u. Perhaps `getMetaspacepointer()` could be used instead. It would entail some reflection...

[2021-06-17 15:12] jerboaa commented on #262
So this has to do with a different JVMCI level. Graal VM CE would likely not run into this as they are on a more recent JVMCI level.

[2021-06-17 15:28] jiekang commented on #261
@zakkak it looks sound to me. Is it common to carry minor release differences like that? I thought each native-image release would target a specific release: *only* 11.0.12 or *only* 11.0.11, etc. I don't like the sound of maintaining more than just major release differences :|

On a random note, I guess we're fortunate that the OpenJDK 11 backport missed removing the unused `unsafe` field so you

[2021-06-17 15:39] jerboaa commented on #261
It's quite common. The intention is merely to support various JDKs for *building*. Think gate-tests etc. We've had to do that sort of conditional substitution a fair bit. The actual releases are a different story and actually include the JDK it got built with.

[2021-06-17 15:52] jerboaa commented on #262
This should fix it:

[code]

[2021-06-17 15:53] jerboaa commented on #262
I'll try to get this into upstream Graal VM.

[2021-06-17 16:09] jerboaa commented on #262
Upstream PR: https://github.com/oracle/graal/pull/3488

[2021-06-23 09:55] jerboaa commented on #262
I'm not sure how this can affect 21.1. It didn't have the JFR feature.

[2021-06-23 11:56] zakkak commented on #261
This is now fixed by https://github.com/oracle/graal/commit/b9fad3c8526c333caaf201e605e003266b315027

[2021-06-23 11:56] #261 closed

[2021-06-23 12:09] jerboaa commented on #261
@zakkak We still would need for https://github.com/oracle/graal/commit/b9fad3c8526c333caaf201e605e003266b315027 to go into 21.2 release branch, right?

[2021-06-23 13:17] zakkak commented on #261
That's correct, my understanding is that it will be part of 21.2.
Let's see if @christianhaeubl can confirm this.

[2021-06-23 14:07] christianhaeubl commented on #261
@jerboaa, @zakkak: https://github.com/oracle/graal/commit/b9fad3c8526c333caaf201e605e003266b315027 is already part of the 21.2 release branch.

[2021-06-23 14:20] Karm opened #264 "Windows master build has started to fail, good"
## Good :heavy_check_mark:
Graal: Revision: 03202086026f62bcffa137343df7658232dde09d
    refs/remotes/origin/graal/master
MX: Revision: c9fa6cf69424f1296ae44d06f582250418e8d6e2
    refs/remotes/origin/master

## Fails :x:
Graal: Revision: ba1a28e354713d7a6d0406335080e0ccb7ce018b
    refs/remotes/origin/graal/master
MX:	Revision: fb36392d3c4d0168222dbe6d291b1c2825ae2a4d
    refs/remotes/origin/mast

[2021-06-23 14:32] jerboaa commented on #261
@christianhaeubl That's fantastic! Thanks for the heads-up.

Do you know if there is there a way for us to determine ourselves? I don't see a public `release/graal-vm/21.2` branch in https://github.com/oracle/graal/

[2021-06-23 14:34] christianhaeubl commented on #261
I don't think that the release branches are synced to GitHub at the moment /cc @gilles-duboscq

[2021-06-23 14:44] zakkak commented on #264
Thanks @Karm , started https://github.com/graalvm/mandrel/actions/runs/964716849 to see if it's reproducible on our GH workflow

[2021-06-23 15:23] zakkak commented on #264
The issue is not reproducible on github so it might be an issue with our Jenkins workflow.

1b41b6e708fe7a8373b6b5961b8ff774bda49f88 (latest graal/master) fails in https://ci.modcluster.io/view/Mandrel/job/mandrel-master-windows-build/296/ fails in but builds in https://github.com/graalvm/mandrel/actions/runs/964795483

[2021-06-23 15:26] Karm commented on #264
@zakkak Well, that is weird. I don't think anything changed there.

[2021-06-23 15:28] zakkak commented on #264
Is there any chance to have some stale state in the runner? i.e. some class or source files from previous runs?

[2021-06-23 16:13] Karm commented on #264
@zakkak There is a workspace cleanup https://github.com/graalvm/mandrel-packaging/blob/master/jenkins/jobs/mandrel_master_windows_build.groovy#L113 after build, but anything is possible as the host is not freshly provisoned for each job run. That said, this is the first occurrence of such particular issue tom my best knowledge. I will investigate it later and try the build manually on the host.

[2021-06-23 17:02] gilles-duboscq commented on #261
Indeed, just reviewed the PR that adds mirroring for those branches so they should be available soon.

[2021-06-23 17:12] jerboaa commented on #261
@gilles-duboscq @christianhaeubl Thank you! Much appreciated.

[2021-06-28 09:26] zakkak commented on #264
This is now fixed, the issue was related to using python 2 instead of python 3.

[2021-06-28 09:26] #264 closed

[2021-06-29 07:37] zakkak commented on #262
This is now merged in upstream `master`, pending backport to `release/graal-vm/21.2`.

[2021-07-06 14:01] zakkak opened #266 "Incorrect file name for lambda methods in DWARF info of images generated with Mandrel 21.1"
## Description
Native images generated using `-g` and Mandrel 21.1 produce DWARF info files with wrong filename associations.

e.g.:
[code]

Note the `debug_symbols_smoke/Main$$Lambda$547/0x00000007c0d0e440.java` file which does not really exist in the sources.

## How To Reproduce
Steps to reproduce the behavior:
1. `git clone https://github.com/Karm/mandrel-integration-tests.git`
2. `cd mandrel-

[2021-07-06 14:18] zakkak commented on #262
Fixed by 6c6bdbd470d6297fe1c8d833b26cf9e75b32f900 and f4e3191a5e5351d25e082d4a0df825084e05c6eb

[2021-07-06 14:18] #262 closed

[2021-07-06 20:33] zakkak commented on #266
This issue is due to https://bugs.openjdk.java.net/browse/JDK-8225810 not being back-ported to JDK 11.

It looks like we have two choices:
1. Backport only the changes in [MetaUtil.java](https://github.com/openjdk/jdk/commit/3b0ee5a6d8b89a52b0dacc51399955631d6aa597#diff-8392915f884c0b8e2ea110f25b7d50a7c5ccb5125d1bad085b4fd7077b8edc62)
2. Perform the `isJavaIdentifierStart` check in [SourceManager.

[2021-07-07 09:43] jerboaa commented on #266
@zakkak Seems like the best plan of action. Doing 2) would be a hard sell upstream as this doesn't happen with labs OpenJDK 11. Doing 1) seems fairly low risk as it's JVMCI self-contained. Do we have a test for this particular issue? It would be nice to have for a backport. I'll investigate a partial backport of JDK-8225810 and keep you posted.

[2021-07-07 10:47] zakkak commented on #266
For Mandrel we have a [test in mandrel-integration-tests](https://github.com/Karm/mandrel-integration-tests/tree/master/apps/debug-symbols-smoke/src/main/java/debug_symbols_smoke) which is [currently expecting the wrong output](https://github.com/Karm/mandrel-integration-tests/blob/9b414b43486b218c304575e86849f5d4ac6a9f3e/testsuite/src/it/java/org/graalvm/tests/integration/utils/GDBSession.java#L9

[2021-07-07 12:37] jerboaa commented on #266
Awesome, thanks! That'll do.

[2021-07-09 10:14] Karm commented on #266
@zakkak Is there a version with which you would expect it to return 0 then?

[code]

[2021-07-09 10:22] zakkak commented on #266
@Karm that's interesting. I get 0 on the last 3 GraalVM CE releases:

[code]

[2021-07-09 10:58] Karm commented on #266
@zakkak  Oh.  It was just my clumsiness. Sorry to bother you. Thanks for :duck:  debugging :-)
I left the java and javac on PATH, just changing classpath...

[code]

[2021-07-09 18:14] jerboaa commented on #266
See https://git.openjdk.java.net/jdk11u-dev/pull/120

[2021-07-12 07:15] indiealexh opened #267 "Introduce java 16 support"
GraalVM 21.1.0 supports Java 16 and Quarkus compiles fine with Java 16. Adding java 16 support adds all the great features added in java 12 through 16 that make life easier in Java.

[2021-07-13 13:21] jerboaa commented on #266
Should be fixed with OpenJDK 11.0.13 (October 2021) and better:

https://bugs.openjdk.java.net/browse/JDK-8270196 (fix)
https://bugs.openjdk.java.net/browse/JDK-8270184 (regression test)

[2021-07-14 08:44] Karm opened #268 "Docs are not clear about differences between Fedora, Cetos and RHEL dependencies package names"

[2021-07-14 21:47] vic-ma opened #270 "Exception when running a Quarkus native image with JFR enabled"
## Description

I am trying to build and run a native image of a simple Quarkus program, which has some JFR code in it [[0]](https://github.com/vic-ma/getting-started/blob/master/src/main/java/org/acme/getting/started/GreetingResource.java). The program is essentially just the Quarkus getting-started program with a few bits of JFR code added.

The native image builds without any issues, and when I

[2021-07-15 16:38] jerboaa commented on #270
@vic-ma Please also add the "Actual Behaviour". I.e. the exception you see. Thanks!

[2021-07-15 16:40] jerboaa commented on #270
NVM. it's in the gist. Fails with:

[code]

[2021-07-18 23:02] Karm opened #275 "native-image version output is wrong for CI build of mandrel/20.3 marged with release/graal-vm/20.3"
CI merges https://github.com/oracle/graal/tree/release/graal-vm/20.3 with https://github.com/graalvm/mandrel/tree/mandrel/20.3 in this fashion: https://github.com/graalvm/mandrel-packaging/blob/master/jenkins/jobs/mandrel_graal_vm_20_3_linux_build.groovy#L109:L118

The resulting build produces a wrong version string:

[code]

[2021-07-19 15:00] vic-ma commented on #270
Here are some logs from an initial debugging attempt I did:

[Original program, Broken (1)](https://gist.github.com/vic-ma/78ead6538e5cca817554d1b74b5d3c2c)
[Original program, Broken (2)](https://gist.github.com/vic-ma/8b2646ce4a8147695e833e122b7e4af1)
[Only Alpha event/method, Broken](https://gist.github.com/vic-ma/da39f6d9ccbea4694588af11b2e4a0c5)
[Only Alpha event/method, Working](https://gist.

[2021-07-19 15:07] jiekang commented on #270
The code in Graal that should be retransforming the event class to add the eventHandler field can be found here:
https://github.com/oracle/graal/blob/master/substratevm/src/com.oracle.svm.jfr/src/com/oracle/svm/jfr/JfrEventSubstitution.java

I think at this point you can re-create this issue in the oracle/graal upstream repo with the details.

[2021-07-19 21:13] vic-ma commented on #270
https://github.com/oracle/graal/issues/3608

[2021-07-19 23:00] zakkak commented on #275
This should now be fixed in https://github.com/graalvm/mandrel/tree/mandrel/20.3, and as a result in the merge result.

[2021-07-20 08:35] jerboaa commented on #270
As the issue is now tracked upstream we want the fix to land there first.

[2021-07-20 13:45] #275 closed

[2021-07-21 19:22] indiealexh commented on #267
Would it be possible to have an ETA on this addition? Or maybe some guidance on how I can contribute this change myself?

[2021-07-22 09:56] jerboaa commented on #267
@indiealexh Sorry, we don't have very much interest in JDK 16-based mandrel builds. JDK 16 is a short term support version and the last update (this July) was 16.0.2. Once JDK 17 is out this September, JDK 16 is obsolete. We are going to do JDK 17-based builds - on or around the GA date of JDK 17. JDK 17 expected to be the next long term support version of a JDK.

If you want to provide those buil

[2021-08-11 07:56] ksvasan opened #279 "Shenandoah GC support for mandrel"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Is there a plan for adding shenandoah GC support to mandrel, asking this since it was contributed by redhat to the upstream openjdk. Having a low latency GC like shenandoah would allow for wide spread adoption on the server side and it can

[2021-08-11 08:18] Karm opened #280 "JDK17: Nashorn engine is removed in JDK and Mandrel build must be edited"
Mandrel build with the latest JDK 17 (head [db92c1bb5f3ff0b5](https://github.com/openjdk/jdk17u/commit/db92c1bb5f3ff0b5)) and also with JDK 18 (head [148935279d](https://github.com/openjdk/jdk/commit/148935279d)) requires removal of Nashorn engine feature:

[code]

[2021-08-11 11:17] Karm commented on #280
Source: https://github.com/oracle/graal/blob/master/substratevm/mx.substratevm/suite.py#L1096

[code]

Does 11..14 mean that it shouldn't be required on my JDK 17?

[2021-08-16 08:49] jerboaa commented on #270
Upstream fix. We should backport it to the 21.2 branch. https://github.com/oracle/graal/commit/bdaf8c260e7e880145df8ac8c09b19570c6c37c6

@zakkak Thoughts?

[2021-08-16 09:17] zakkak commented on #270
Sure. I would also suggest asking upstream to backport this for a potential pico release (e.g. 21.2.0.1).

[2021-08-16 09:45] jerboaa commented on #270
Do they update non-LTS releases that way? It would be news to me. I thought 21.3 only.

[2021-08-16 09:48] zakkak commented on #270
They do provide bug fixes in some cases
See https://github.com/graalvm/graalvm-ce-builds/releases/tag/vm-21.0.0.2 for instance.

[code]

[2021-08-16 12:07] zakkak commented on #280
Correct! I am not sure why you are getting the above failure :/

[2021-08-16 12:37] zakkak commented on #279
Hi @ksvasan,

No, there is no plan or commitment on delivering this feature, but there is an ongoing effort from @bakaliosdim (building on top of https://github.com/oracle/graal/pull/2426) to add Shenandoah GC support to graal, which as you already pointed out is being tracked in https://github.com/oracle/graal/issues/3472.

Furthermore, it's worth noting that the current work aims to add Shenando

[2021-08-16 15:39] jerboaa commented on #266
Note that current 11.0.13+2 EA builds have this fix.

[2021-08-18 15:54] jerboaa commented on #270
Closing this issue as it's on the 21.2 branch.

[2021-08-18 15:54] #270 closed

[2021-08-21 04:35] #268 closed

[2021-08-23 12:27] jerboaa opened #286 "Only load harfbuzz as separate library for OpenJDK < 11.0.13"
## Description
Since separation of the `libharfbuzz.so` OpenJDK library from `libfontmanager.so` caused regressions in OpenJDK 11. There in an attempt underway to revert this separation in OpenJDK 11.0.13. See:
https://bugs.openjdk.java.net/browse/JDK-8255790 and
https://bugs.openjdk.java.net/browse/JDK-8272149

Once the 11u backport of JDK-8255790 is resolved (currently targetting 11.0.13) the fo

[2021-08-30 16:54] jerboaa commented on #286
Upstream PR: https://github.com/oracle/graal/pull/3738

[2021-09-05 21:32] Karm opened #287 "[01d1fe51d8] [GR-33542] Ignore CPUFeature.RTM breaks native agent JDK 11 build Linux and Windows (JDK 17 is fine)"
The last known working build with OpenJDk 11.0.13_5_ea was: acf57bf59

## Linux failure, JDK 11.0.13_5_ea
[code]

## Windows failure, JDK 11.0.13_5_ea
[Identical](https://gist.github.com/Karm/7da63013d3375d0e89f0cc91ffbdeb0b)

[2021-09-05 23:38] Karm commented on #287
I dissected the 01d1fe51d8 commit causing the regression and surprisingly (to me), the regression is caused in DefaultOptionHandler.java by
[code]
which is, unwrapped:
[code]
causing (or bringing) the [error mentioned in the issue description](https://gist.github.com/Karm/3a4ea36f33265fed5397ab065ad8dcf7), i.e.

[code]
# Why this helps?

When I do this:

[code]

the problem goes away and Graal mas

[2021-09-06 09:59] Karm commented on #287
@galderz There is no issue when I swap OpenJDK 11.0.13_5 with labsjdk-ce-11.0.12-jvmci-21.3-b02.   Yes, OpenJDK 11.0.12_7 fails in the same way too.

[2021-09-06 11:55] galderz commented on #287
The fix proposed by @Karm is valid.

The `GraalAccess.getOriginalTarget().arch` code calls into the `GraalRuntime` interface, for which exist 2 main implementations: `SubstrateGraalRuntime`and `HotSpotGraalRuntime`. The problem is that, as a result of using that API, at least with OpenJDK 11.0.x (not labs), `HotSpotGraalRuntime` and a load of `org.graalvm.compiler.hotspot` classes end up being par

[2021-09-09 12:26] jerboaa commented on #234
This is being tracked in OpenJDK via:
https://bugs.openjdk.java.net/browse/JDK-8273547

[2021-09-10 13:37] jerboaa commented on #234
--^  should be in 11.0.14 (January 2022) release.

[2021-09-10 19:10] #287 closed

[2021-09-17 12:27] zakkak opened #288 "Mandrel slower than corresponding GraalVM CE"
## Description
Mandrel 21.2.0.0-Final appears to be slower than GraalVM 21.2.0 (311s vs 229s)

## How To Reproduce
Steps to reproduce the behavior:

1.
[code]
2.
[code]

### Configuration:
 - OS: Fedora 34]
 - Architecture: AMD64
 - Mandrel version: 21.2.0.0-Final
 - JDK version: OpenJDK 11.0.12+7

## Expected behavior
Compilation times should be similar.

## Additional context
The output of the f

[2021-09-17 12:30] zakkak commented on #288
The issue is possibly related to https://github.com/oracle/graal/issues/3697

[2021-09-17 14:21] zakkak commented on #288
After some more runs it looks like the difference is closer to 270s vs220s which is still significant. And the issue is reproducible with Mandrel 21.0.0.1-Final as well.

[2021-09-17 14:27] jerboaa commented on #288
Note the difference in heap space. Shorter runs use more heap.

[2021-09-21 13:11] zakkak commented on #288
After some more experimentation it looks like this could be related to the fact that Mandrel is not using libgraal.
To explore that, I performed a number of runs with GraalVM CE 21.2 disabling libgraal (`-XX:-UseJVMCINativeLibrary`) and the Graal JIT (`-XX:-UseJVMCICompiler`).

The results are listed in the table bellow (3 runs of each configuration):

| Run | Mandrel 21.2.0.0-Final | GraalVM CE 2

[2021-09-21 17:36] zakkak opened #290 "Mandrel 21.3 fails to build"
Mandrel 21.3 fails to build.

[The build](https://github.com/graalvm/mandrel/runs/3665374160?check_suite_focus=true) fails with:
[code]

due to https://github.com/oracle/graal/issues/3769 which is being fixed by @jerboaa and @karm in https://github.com/oracle/graal/pull/3775

[2021-09-22 09:18] zakkak opened #291 "gdb debugging Quarkus apps without setting the sources directory no longer works as of GraalVM/Mandrel 21.1"
Please see https://github.com/quarkusio/quarkus/issues/20321 for more details.

Upstream fix: https://github.com/oracle/graal/pull/3828

[2021-09-22 12:39] jerboaa commented on #286
Upstream PR got merged. We need to cherry-pick https://github.com/oracle/graal/commit/20e60c415985cb24efbdacf284ac7a5ebd9e49fe. But it may end up in the graal 21.3 release branch though. Aleksandar mentioned that during review.

[2021-09-23 06:53] zakkak commented on #286
The commit got merged (as https://github.com/oracle/graal/commit/355600973b3b1eeebdcba4cc429e8a5e24bfb90a) on upstream 21.3 as well.

[2021-09-23 06:53] #286 closed

[2021-09-23 07:03] zakkak commented on #290
I cherry-picked https://github.com/oracle/graal/pull/3775/commits/d11728e723493af8c5c2cf71752f6e3d55d06213 on mandrel/21.3 to get the CI running till it gets merged upstream.

Note: As I periodically rebase `mandrel/21.3` on oracle/graal's `release/graal-vm/21.3` the cherry-pick will eventually be dropped once the commit makes it in upstream 21.3.

[2021-09-23 07:09] zakkak commented on #288
Using libgraal in Mandrel for Java 11 seems a no-go as libgraal depends heavily on JVMCI changes that are not available in OpenJDK 11. Moving to Java 17 we could reconsider this.

[2021-09-23 11:50] zakkak commented on #291
Marking this as won't fix, please see https://github.com/oracle/graal/pull/3828 for more details and https://github.com/quarkusio/quarkus/pull/20355 for the Quarkus patch to resolve the issue there.

[2021-09-23 11:50] #291 closed

[2021-09-24 08:07] zakkak opened #292 "Quarkus Tika IT fails with Mandrel 21.2 and 20.3 while passing with GraalVM CE 21.2"
## Description
Quarkus Tika IT fails with Mandrel 21.2 and 20.3 while passing with GraalVM CE 21.2 (and Mandrel 21.3-dev)

## How To Reproduce
Steps to reproduce the behavior:
`GRAALVM_HOME=/opt/jvms/mandrel-java11-21.2.0.1-Final ./mvnw -B --settings .github/mvn-settings.xml --fail-at-end  -DfailIfNoTests=false -Dnative -Dnative.surefire.skip -Dformat.skip -Dno-descriptor-tests -DskipDocs -Dquarku

[2021-09-24 08:36] zakkak commented on #292
The PR causing the issue appears to be https://github.com/quarkusio/quarkus/pull/20239, reverting the corresponding commit makes the test pass again.

[2021-09-28 05:57] zakkak commented on #290
The fix has now been merged upstream https://github.com/oracle/graal/pull/3775 (https://github.com/oracle/graal/commit/9579cc938af8a725c6a5a7a5aed84d67fa90dcd9 for 21.3)

[2021-09-28 05:57] #290 closed

[2021-09-28 15:06] zakkak commented on #292
In https://github.com/graalvm/mandrel/actions/runs/1282744930 I no longer see the issue, so this might be a no-issue with ParseOnce and InlineBeforeAnalysis both enabled

[2021-09-29 07:27] zakkak commented on #292
Some more info regarding this issue:
 https://github.com/quarkusio/quarkus/pull/19511 is now merged, which means that Quarkus `main` now has `ParseOnce` and `InlineBeforeAnalysis` enabled (when using GraalVM/Mandrel >= 21.2) and I can still see the issue, so https://github.com/graalvm/mandrel/actions/runs/1282744930 was probably a false negative, which means that this might not be deterministic :/

[2021-09-30 10:03] zakkak opened #293 "Backport https://github.com/oracle/graal/pull/3844 to Mandrel 21.3"
https://github.com/oracle/graal/pull/3844 makes the use of the produced by https://github.com/oracle/graal/pull/3128 (which is part of 21.3) csv files easier.

[2021-09-30 15:56] galderz commented on #292
This issue is not specific to Quarkus. This java code is enough to reproduce it:

[code]

Produces output [here](https://gist.github.com/galderz/0b52baec4e5b41b1c7b367f7489fb4c9):

[code]

The reproducer can be found here: [This project](https://github.com/galderz/mendrugo/tree/main/awt-raster).

If you tweak the generated `jni-config.json` to add:

[code]

You get:

[code]

[2021-09-30 16:01] galderz commented on #180
@sherl0cks I think the "java.lang.NoSuchMethodError: java.lang.System.load(Ljava/lang/String;)" error you were getting was genuine and it's still present in Mandrel 21.2, see https://github.com/graalvm/mandrel/issues/292#issuecomment-931451671

[2021-09-30 16:02] jerboaa commented on #288
Yes, I've reproduced this. ~20% slower build times.

[2021-09-30 16:03] sherl0cks commented on #180
@galderz the saga continues. Thanks for your update.

[2021-09-30 16:16] galderz commented on #292
With `-H:+TraceNativeToolUsage` you get:

[code]

[2021-09-30 17:33] jerboaa commented on #288
On the flip side I've seen `libgraal` making a difference in memory consumption in constrained environments. Running with `-XX:-UseJVMCINativeLibrary -XX:-UseJVMCICompiler` does no longer get the build killed (in a container with limits).

Graal VM CE 21.2 (via `quay.io/quarkus/ubi-quarkus-native-image:21.2-java11`):
[code]

Graal VM CE 21.2 with `-XX:-UseJVMCINativeLibrary -XX:-UseJVMCICompiler`:

[2021-10-01 12:20] jerboaa commented on #288
For reference. `run_build.sh` is a tiny script to get the VmRSS from `/proc/self/status` when the image build runs driven via the native-sources feature (`native-image.args` file) of quarkus:

[code]

[2021-10-01 12:27] galderz commented on #292
The issue is caused by JDK 11.0.12, on which Mandrel 21.2.0.1 is based, not containing https://github.com/openjdk/jdk11u-dev/commit/0e4fdcf11ad65d2515a78e30eb9f3d81451004b8. Without that fix, AWT would try to load shared libraries, when it really should be loading statically libraries.

Mandrel 21.2.0.2, which is based JDK 11.0.13, includes that commit and Tika tests pass with that Mandrel version

[2021-10-01 12:27] #292 closed

[2021-10-01 12:27] jerboaa commented on #288
Resident set size is sometimes lower than reported Heap capacity due to lazy commit of the kernel. `-XX:+AlwaysPreTouch` removes that issue in reporting.

[2021-10-01 12:33] galderz commented on #180
@sherl0cks The saga has come to an end, see https://github.com/graalvm/mandrel/issues/292#issuecomment-932185409

[2021-10-01 13:04] jerboaa commented on #280
This issue is fixed upstream with:
https://github.com/oracle/graal/pull/3793

Prior https://github.com/graalvm/mandrel-packaging/pull/170 the nashorn dep was pulled unconditionally, thus failing the JDK 17 build because it no longer has nashorn (https://openjdk.java.net/jeps/372, JDK 15). We don't need to do anything after https://github.com/oracle/graal/pull/3793 as it takes care of verifying nas

[2021-10-01 13:04] #280 closed

[2021-10-01 13:05] jerboaa commented on #280
See also: https://github.com/graalvm/mandrel-packaging/pull/189

[2021-10-01 17:05] jerboaa commented on #292
For reference. If one debugs the native image with a mandrel build with a JDK < 11.0.13+1 you'll see the `System.load()` call site originating from the OpenJDK 11 code which gets `ifdef`-ed out after the JDK-8254024 backport:

[code]

[2021-10-06 13:46] zakkak opened #294 "Backport https://github.com/oracle/graal/pull/3861 to Mandrel 21.3"
https://github.com/oracle/graal/pull/3861 enables users to choose the structure of the call tree report. Currently supported formats are txt and csv.

[2021-10-14 18:09] #293 closed

[2021-10-15 09:49] jerboaa commented on #266
I'm closing this issue as there is nothing on the mandrel side to do. OpenJDK fix is in place.

[2021-10-15 09:49] #266 closed

[2021-10-15 12:07] zakkak opened #301 "Revert https://github.com/graalvm/mandrel/pull/300 when https://github.com/graalvm/mandrel-packaging/pull/191 gets merged"
Revert https://github.com/graalvm/mandrel/pull/300 when https://github.com/graalvm/mandrel-packaging/pull/191 gets merged

[2021-10-18 20:52] #301 closed, assigned to zakkak

[2021-10-20 07:11] zakkak opened #304 "Previously passing configuration times out on GH actions"
## Description
mandrel 21.3-dev appears to be failing the last few days.

The last passing run was https://github.com/graalvm/mandrel/runs/3901801751?check_suite_focus=true with the following configuration:
| component | version |
| --- | --- |
| mandrel | 2d827b9970ac5e45dc1bb3e997aea4e3333d6939 |
| mandrel-packaging | 9bbf83a0a813c778762279faa0460661810ec554 |
| quarkus | a2c81efd6607d270dc7eaa9

[2021-10-21 12:25] jerboaa commented on #304
This doesn't explain why we are seeing this now, though. Does it?

[2021-11-02 09:47] Karm opened #310 "Java 11: Mandrel master Windows build failure: javac returns err 1 and terminates"
[code]
One of these changes seems to be the culprit, unless it's mx' fault:

* [GR-32840] Gate for polybench interpreter...
* [GR-32840] Gate for polybench compiler and warmup...
* [GR-32840] Workaround for hocon issues...
* Remove unnecessary snippet...
* Move base polybench cmd to the snippet with all commands...
* Fixed result_file...
* [GR-34702] Stale JNI reference in the..
* Hide matcher rel

[2021-11-02 09:49] Karm opened #311 "Java 11: Mandrel master Linux build failure: Compiling org.graalvm.libgraal.jni with javac-daemon"
[code]

One of these changes seems to be the culprit, unless it's mx' fault:

* [GR-32840] Gate for polybench interpreter...
* [GR-32840] Gate for polybench compiler and warmup...
* [GR-32840] Workaround for hocon issues...
* Remove unnecessary snippet...
* Move base polybench cmd to the snippet with all commands...
* Fixed result_file...
* [GR-34702] Stale JNI reference in the..
* Hide matcher re

[2021-11-02 10:30] jerboaa commented on #288
Correction. Current implementation of memory reporting uses `Runtime.getRuntime().totalMemory()` which amounts to the heap capacity (as opposed to heap usage). When it's being switched to heap usage, then this issue isn't present. `-XX:+AlwaysPreTouch` is a work-around for making the GC operating-system-commit full heap capacity. Hence, the change in reporting.

[2021-11-02 10:46] jerboaa commented on #267
https://github.com/graalvm/mandrel/releases/tag/mandrel-21.3.0.0-Final

The latest mandrel 21.3 release includes JDK 17-based builds.

[2021-11-02 10:46] #267 closed

[2021-11-02 10:59] jerboaa commented on #114
FYI:

Via Eclipse Temurin there are (untested) Mac OS X static-libs now.

JDK 17: https://github.com/adoptium/temurin17-binaries/releases/tag/jdk-17.0.1%2B12

[2021-11-02 14:36] zakkak commented on #311
The error message is:

[code]

LibGraalJNIMethodScope.java was added in https://github.com/oracle/graal/commit/deb80d4bc6f7115c756c619c45d48375d8109fdf

[2021-11-02 16:10] #310 closed

[2021-11-02 19:41] zakkak commented on #304
FTR the commit that increased the memory usage and triggered the CI failures appears to be ce051011c6ae0d47a7a544065054c965705b14ba

It's also worth noting that trying `-H:-IncludeMethodData` (option added in ce051011c6ae0d47a7a544065054c965705b14ba) locally didn't have a big impact.

[2021-11-03 13:27] jerboaa opened #314 "Mandrel 21.2 branch fails to build with 11.0.14-dev (Inet6Address missing cached_scope_id)"
Building mandrel from the 21.2 branch (21.3 branch likely has the same issue) with OpenJDK 11.0.14 results in:

[code]

Root cause seems to be [JDK-8216417](https://bugs.openjdk.java.net/browse/JDK-8216417) which is new in 11.0.14-dev

[2021-11-03 16:41] jerboaa commented on #314
This needs a backport of https://github.com/oracle/graal/commit/0d398e42d7248b1209396e28e88feb819a5a82be to the 21.2 release branch.

[2021-11-04 07:24] zakkak opened #316 "`-H:+ParseOnce` singificantly increases the memory footprint of native-image in Quarkus' integration-tests/main"
## Description

As described in https://github.com/graalvm/mandrel/issues/304#issuecomment-952070568 `-H:+ParseOnce` significantly increases the memory footprint of native-image in Quarkus' `integration-tests/main`.

We need to better understand why this is happening while other integration tests are not affected to such an extend.

My plan is to:
- [x] generate reports for all integration tests a

[2021-11-04 07:24] zakkak commented on #304
I am closing this issue as my current understanding is that we were already stressing the JVM and https://github.com/graalvm/mandrel/commit/ce051011c6ae0d47a7a544065054c965705b14ba resulted in a small increase in memory usage that ended up consistently causing the CI runs to fail.

For the time being we have reverted Quarkus to using `-H:-ParseOnce` (see https://github.com/quarkusio/quarkus/pull/2

[2021-11-04 07:24] #304 closed

[2021-11-05 13:10] #314 closed

[2021-11-08 13:03] #311 closed

[2021-12-03 09:40] zakkak commented on #294
As mentioned in https://github.com/graalvm/mandrel/pull/302#issuecomment-981368687:

[2021-12-03 09:40] #294 closed

[2021-12-07 18:48] jerboaa commented on #119
This program is a simple reproducer which uses `JvmFunc.c`s `JVM_ActiveProcessorCount` from `libjvm.a`:

[code]

[2021-12-09 13:59] zakkak commented on #316
After gathering the data it's clear that `main` is the test with the most reachable Classes, Fields, and Methods, and as expected has the highest Peak RSS. Another interesting observation is that the top "offenders" (in terms of Peak RSS) all have a high number of classes/fields/methods registered for JNI access, so there seems to be some correlation between those JNI accesses and Peak RSS as well

[2021-12-10 08:40] zakkak commented on #316
Pasting the results (sorted by Peak RSS with `ParseOnce`) from Quarkus https://github.com/quarkusio/quarkus/commit/963e380f19aa087f1973ff9b5fd8d496aae9a5f4 (i.e. after https://github.com/quarkusio/quarkus/pull/20850).

As expected, the pattern that the tests with the most reachable Classes, Fields, and Methods have the highest Peak RSS seems to persist. What's interesting though is that if we sort

[2021-12-10 08:47] zakkak commented on #316
Depending on the case using `ParseOnce` results in increasing Peak RSS by up to ~30% while there are cases where Peak RSS is reduced by ~18%, but in most cases we see an increase (as expected) ranging from 1% to 15%.

[2021-12-10 09:40] jerboaa commented on #316
Very interesting results. Do you have numbers comparing mandrel vs Graal VM CE? It would certainly be useful to monitor those results continuously. Especially for Quarkus as we see a significant change pre/post AWT extension integration.

[2021-12-10 10:27] zakkak commented on #316
No, I might schedule some runs for the weekend.

I agree, the integration-tests are already being built regularly, so what I think we need to do is to gather the data and raise some alarm in case of big differences between runs.

[2021-12-16 14:46] Karm opened #330 "JDK 17 bf788eee880 and Mandrel 21.3 and 22.0"
# 21.3

JDK17u [bf788eee880](https://github.com/adoptium/jdk17u/commit/bf788eee880) discussed here: [3837](https://github.com/oracle/graal/issues/3837) is still breaking [mandrel/21.3](https://github.com/graalvm/mandrel/tree/mandrel/21.3) (rebased to `release/graal-vm/21.3`)
Do we backport [7992567](https://github.com/oracle/graal/commit/7992567acbd463e4fd80b9134833b74e94a3b4ca)?

[code]

~~# 22.0

[2021-12-16 14:53] jerboaa commented on #330
Please post version output of the JDK 17 in use.

[2021-12-16 15:32] Karm commented on #330
@jerboaa I'm en route now. The JDK 17 version used is my own build of  bf788eee880. Will post the version output later.

[2021-12-16 17:22] Karm commented on #330
@jerboaa  THX for the hint about version string. Description updated. 22.0 is fine.

[2021-12-16 17:31] jerboaa commented on #330
@Karm Pretty sure it'll be part of `21.3.1` as there will be a JDK 17 build with it and OpenJDK 17.0.2 has the patch which requires the fix. So Graal CE will need it too.

[2021-12-25 15:17] debu999 commented on #114
Anything on this getting traction. Definitely a good thing to move forward with this.

[2022-01-13 01:38] rubyFeedback opened #343 "[Documentation] How Does Mandrel Differ From Graal - could a table be added?"
Right now the main README explains "How Does Mandrel Differ From Graal".

Would it be possible to add a table showing the main differences?

Specifically I just learned about mandrel, and read the subsection but I am still
not sure whether I need it or whether mandrel may be useful.

Would it be possible for some of you folks to perhaps add a short table that
summarizes the main differences via a

[2022-01-13 09:35] jerboaa commented on #343
I'm not sure such a table would make a lot of sense as it's a moving target. It's specifically a distro of GraalVM which removes some (not needed) features. The [readme section](https://github.com/graalvm/mandrel#how-does-mandrel-differ-from-graal) pretty much sums it up.

The main purpose of mandrel can be summarized as: Provide a native-image binary for use of Quarkus apps[1]. In the Quarkus con

[2022-01-14 10:23] zakkak opened #345 "[22.0] Backport fix for debug info generation"
## Description
Backport https://github.com/oracle/graal/pull/4121 since without it debug info generation won't work in some cases (see oracle/graal#4018 (comment)).

[2022-01-14 13:02] zakkak commented on #330
https://github.com/oracle/graal/commit/7992567acbd463e4fd80b9134833b74e94a3b4ca is indeed backported to 21.3.1 as https://github.com/oracle/graal/commit/6f3672c4045fa1e3e013c8832b13550037f456e7

[2022-01-19 08:27] zakkak commented on #114
No, not yet. At the moment it looks like we would need to rely on GH actions to provide MacOS releases while Linux and Windows releases are built and tested internally. @Karm WDYT?

[2022-01-19 10:02] Karm commented on #114
Relying on doing Mac releases on GH actions is not an option, so there are no MacOS releases planned at the time of writing.

When (rather than if) that changes, we will update this issue :+1:

[2022-01-24 11:10] zakkak commented on #234
This is now fixed, thanks @jerboaa !

[code]

[2022-01-24 11:10] #234 closed

[2022-01-24 12:54] mandrel-bot opened #348 "[CI] Quarkus main fails with Java 11 mandrel build of `graal/master` on Linux"
This issue is automatically updated by CI to report issues with Quarkus main and mandrel builds of `graal/master`

[2022-01-24 13:49] zakkak commented on #348
Build fixed:
* Link to latest CI run: https://github.com/zakkak/mandrel/actions/runs/1234

[2022-01-24 13:49] zakkak commented on #348
Unfortunately, the build failed:
* Link to latest CI run: https://github.com/zakkak/mandrel/actions/runs/1234

[2022-01-25 08:23] #345 closed

[2022-01-27 13:28] jerboaa opened #355 "JDK 17: Incorrect file name for lambda methods in DWARF info of images generated with Mandrel 21.1"
## Description
This is similar to #266, but for JDK 17. The root cause must be different as the boot JDK has the fix for `MetaUtil.java` which we did for JDK 11 is present in OpenJDK 17. See:
https://github.com/openjdk/jdk17u/blob/6f0f42630eac1febf562062afc523fdf3d2a920a/src/jdk.internal.vm.ci/share/classes/jdk.vm.ci.meta/src/jdk/vm/ci/meta/MetaUtil.java#L95

For the reproducer I see this:
[code]

[2022-01-27 13:29] jerboaa commented on #355
/cc @zakkak

[2022-01-27 13:46] zakkak commented on #355
Thanks for creating an issue for this @jerboaa , I am aware of this (due to the integration test failures) but was constantly de-prioritizing it. Are you having a look at this or shall I pick it up?

[2022-01-27 15:05] jerboaa commented on #355
@zakkak No cycles for this at the moment. Feel free to grab it.

[2022-01-28 08:40] zakkak commented on #355
Note, this issue is not Mandrel specific. The issue manifests in GraalVM CE builds as well.

[2022-01-28 09:52] jerboaa commented on #355
Thanks for the analysis! Feel free to bring this issue to upstream graal in that case. Thanks!

[2022-02-01 07:23] pragmaxim commented on #128
The same happens with `RuntimeAssertions` with graalvm `22.0.0.2`

[2022-02-01 07:53] zakkak commented on #128
@pragmaxim can you please provide more info?

What's the context of your test?
This issue was closed because it was actually a Quarkus issue.
In your case who is responsible for setting the `RuntimeAssertions` option?

[2022-02-01 18:19] #330 closed

[2022-02-01 18:19] Karm commented on #330
Resolved.

[2022-02-04 12:04] zakkak commented on #355
This turned out to be an upstream OpenJDK issue. A proposed fix is submitted in https://github.com/openjdk/jdk/pull/7346

[2022-02-21 05:38] #343 closed

[2022-02-24 08:53] jerboaa commented on #348
@zakkak Do you know what's up with this? Why does it say build fixed and build broken for the same GHA run?

[2022-02-24 09:28] zakkak commented on #348
Bad design and implementation in https://github.com/graalvm/mandrel/pull/349 I would say.

What is happening is that the `native-tests` job runs multiple times with different parameters and each time it succeeds it closes the issue while each time it fails it opens the issue. So in a single run if 10 tests pass and 3 fail, we might see the issue being opened and closed ~6 times which is certainly

[2022-02-24 10:04] zakkak commented on #348
https://github.com/graalvm/mandrel/pull/357 should fix the issue

[2022-03-04 12:38] zakkak commented on #348
Something is wrong with the script... It comments that the build is fixed, but is not closing the issue... Looking...

[2022-03-11 14:22] zakkak opened #366 "Mandrel fails to build on windows after 7ba248aa70de25ec78c1a5b82373a499f326d9bc"
## Description
$title

Error is:
[code]
See https://github.com/graalvm/mandrel/runs/5509472172?check_suite_focus=true#step:7:479

The openjdk version used is `"11.0.15-beta" 2022-04-19`

[2022-03-11 14:33] jerboaa commented on #366
OK, this is the upcoming OpenJDK release. I'll see if I can find the OpenJDK backport which caused this.

[2022-03-11 14:36] zakkak commented on #366
Make sure to have a look at 7ba248aa70de25ec78c1a5b82373a499f326d9bc first :)

It looks like the boolean supplier is returning true on windows while it shouldn't. The same works fine on linux...

[2022-03-11 14:41] jerboaa commented on #366
OK

[2022-03-11 17:31] jerboaa commented on #366
It's not using the same build JDK. Windows (from March 10, 2022)

[code]

Linux (from March 8, 2022):

[code]

I'll try a build of `11.0.15+5` for both.

[2022-03-11 17:51] jerboaa commented on #366
Heh, it's not in `11.0.15+5`, but only on the untagged tree of jdk11u (future `11.0.15+6`). Caused by:
https://bugs.openjdk.java.net/browse/JDK-8275703

Commit:
https://github.com/openjdk/jdk11u/commit/f7346f087a14f1878029a00104005e04468d333f#diff-ad1b07d11927575fe5577e4764133414c8d4757e2cc0549bfdb2e15f746f6099R2425

I'll try with a custom build next week. It should reproduce platform independent

[2022-03-14 10:43] jerboaa commented on #366
OK, it didn't reproduce (on Linux). I guess it doesn't reproduce on Windows either any more?
https://github.com/graalvm/mandrel/runs/5531551576?check_suite_focus=true

[2022-03-14 10:50] Karm commented on #366
It's green again https://ci.modcluster.io/view/Mandrel/job/mandrel-master-windows-build-matrix/

[2022-03-16 09:04] Karm commented on #366
@jerboaa @zakkak
While master branch is fine, we would need a backport to 21.3 IMHO
https://ci.modcluster.io/view/Mandrel/job/mandrel-graal-vm-21-3-windows-build-matrix/JDK_RELEASE=ea,JDK_VERSION=11,LABEL=w2k19/24/consoleText

[2022-03-16 09:49] jerboaa commented on #366
OK, thanks @Karm/ Could you please file a 21.3 specific issue? I'll see if I can find the patch that fixed it in master.

`22.0` will be superseded by `22.1` in April. We'll see if we are going to need the patch for 22.1 (as we don't know the branch point, do we?). We'll have to wait an see for that one.

[2022-03-16 11:13] jerboaa commented on #366
The patch in question obviously is https://github.com/graalvm/mandrel/commit/7ba248aa70de25ec78c1a5b82373a499f326d9bc (with some modifications). I'll see if I can contribute this as an upstream backport a la:
https://github.com/oracle/graal/discussions/4332#discussioncomment-2361015

[2022-03-16 18:17] jerboaa opened #368 "JDK-8275703 in OpenJDK 11.0.15+6 breaks build"
**Describe the issue**
Building the latest 21.3 release branch with `OpenJDK 11.0.15+6` (EA) currently fails with:
[code]

**More details**
https://bugs.openjdk.java.net/browse/JDK-8275703 adds a new 3-arg `load0` native method in `ClassLoader.NativeLibrary` which has been backported to OpenJDK 11.0.15 (to be released in April 2022). This is fixed in master with https://github.com/oracle/graal/com

[2022-03-16 18:23] jerboaa commented on #366
NVM. I've created #368 to track this.

[2022-03-16 20:18] Karm commented on #366
Thx @jerboaa :+1:

[2022-03-17 16:09] jerboaa commented on #368
@Karm @zakkak Merging in the latest release/graal-vm/21.3 branch should fix this. Do you want we to prepare that?

[2022-03-18 09:13] zakkak commented on #368
I will prepare a PR merging upstream 21.3 in mandrel's 21.3 branch which will allow our CI to run on it. I will not merge it though until later since there is high change more changes will come in the following weeks.

[2022-03-18 09:15] jerboaa commented on #368
OK, sounds good. Thanks!

[2022-03-21 14:48] zakkak commented on #355
Backport PR to jdk17u-dev fixing this issue: https://github.com/openjdk/jdk17u-dev/pull/274

[2022-03-23 10:13] zakkak commented on #355
This is now merged and expected to land in OpenJDK 17.0.4

[2022-03-24 17:48] Karm opened #370 "JDK 17, Windows: Records annotations"
After merging a test https://github.com/Karm/mandrel-integration-tests/pull/79
it seems https://github.com/graalvm/mandrel/pull/360 does not work as expected on Windows.

[code]

[2022-03-24 17:49] Karm commented on #370
@jerboaa  The CI failure from https://github.com/Karm/mandrel-integration-tests/pull/79 is tracked here.

[2022-03-24 18:12] jerboaa commented on #370
@Karm I don't think `GraalVM 22.0.0.2-Final` has the fix, has it? Only `21.3.1.1-Final` has and `22.1` should have it.

[2022-03-24 18:14] jerboaa commented on #370
Not sure what this means. https://github.com/jboss-container-images/openjdk/blob/develop/modules/prometheus/7/module.yaml#L26..L29 was a test on a GraalVM build that (knowingly) didn't have the fix.

[2022-03-24 18:57] #370 closed, assigned to Karm

[2022-04-04 14:35] Karm opened #371 "JDK 11.0.15/Mandrel 22.1: Type mismatch: interface java.util.concurrent.ConcurrentMap..."
## Passes:
JDK: jdk-11.0.15+7-96-g358fc5ac6b
Mandrel: 22.1 02f1c914d45

## Fails:
JDK: jdk-11.0.15+8-126-g3cf4e70ddd
Mandrel: 22.1 9915eb48bfb

[code]

I will run the bisector to get to the actual change that triggered it...

[2022-04-11 08:20] jerboaa commented on #371
This looks like a duplicate of https://github.com/oracle/graal/issues/4477

[2022-04-12 19:21] Karm opened #372 "JDK 11.0.15+8-167-gc38229fb06, Mandrel 21.3: jdk.Target_java_io_ObjectStreamClass_Caches.localDesc"
It seems the merged #369 fails to build a native agent app with the latest JDK 11:

[code]

JDK used: jdk-11.0.15+8-167-gc38229fb06

[2022-04-12 19:23] Karm commented on #372
I don't see it in the Graal issues tracker. I'll try with Graal and see where it leads.

[2022-04-12 19:24] Karm commented on #372
@jerboaa The current ea, i.e. *11.0.15-beta+8-202204071807* is fine and builds O.K. with Mandrel 21.3 head.

[2022-04-13 07:16] zakkak opened #373 "07543988774cc46b0e2e9352f730968ace302d51 breaks compatibility with upstream OpenJDK 11"
## Description
07543988774cc46b0e2e9352f730968ace302d51 overrides `getAddress` and `getEntryPoint` in substratevm/src/com.oracle.svm.graal/src/com/oracle/svm/graal/meta/SubstrateInstalledCodeImpl.java, but these methods are `final` in upstream OpenJDK 11.

The `final` keyword was removed in OpenJDK 13 with [JDK-8220623](https://bugs.openjdk.java.net/browse/JDK-8220623) and is not backported to Ope

[2022-04-13 07:27] zakkak commented on #373
@jerboaa I think the best way to resolve this is by backporting [JDK-8220623](https://bugs.openjdk.java.net/browse/JDK-8220623)  (or maybe just the `final` keyword removal to OpenJDK 11u).

Alternatively we can work-around this on the GraalVM side, by overriding the methods only when using JDK 17. But that doesn't look like an actual fix.

WDYT?

[2022-04-13 07:29] zakkak commented on #348
Underlying issue tracked in https://github.com/graalvm/mandrel/issues/373

[2022-04-13 07:42] zakkak commented on #372
@Karm the issue is triggered by https://github.com/openjdk/jdk11u-dev/commit/118ec6172ffdc204a196559babe7bd116ea33763 which is not merged to jdk11u yet, i.e., it won't land in 11.0.15 but in 11.0.16

I assume you are building OpenJDK from jdk11u-dev, right?

This issue seems like a duplicate of #371, I suggest closing this and updating #371 to include `affects/21.3` tag

[2022-04-13 07:45] zakkak commented on #371
Marking this as as `affects/21.3` and `affects/22.2` as the issue is triggered by

* https://github.com/openjdk/jdk11u-dev/commit/118ec6172ffdc204a196559babe7bd116ea33763 which is not merged to jdk11u yet, i.e., it won't land in 11.0.15 but in 11.0.16
* https://github.com/openjdk/jdk17u-dev/commit/7d132f5e5e2f8d27db82dd29bfdbc24677733b65 which is not merged to jdk17u yet, i.e., it won't land in 17

[2022-04-13 08:15] jerboaa commented on #372
Yes, it's a duplicate of #371. Closing.

[2022-04-13 08:15] #372 closed

[2022-04-13 08:18] jerboaa commented on #373
Backporting [JDK-8220623](https://bugs.openjdk.java.net/browse/JDK-8220623) in its entirety is unfortunately not on the table. It's way to risky to backport to a stable release. We could consider a partial backport. I'll do some digging later today...

[2022-04-21 06:14] Karm commented on #368
Resolved.

[2022-04-21 06:14] #368 closed

[2022-04-21 17:35] jerboaa commented on #373
I've filed this OpenJDK issue for it:
https://bugs.openjdk.java.net/browse/JDK-8285395

[2022-04-25 15:15] jerboaa commented on #373
This should be fixed once `11.0.16+1` EA builds become available.

[2022-05-06 16:16] jerboaa commented on #355
This should be fixed with the latest temurin EA build from here (should identify as `17.0.14+1 something`):
https://api.adoptium.net/v3/binary/latest/17/ea/linux/x64/jdk/hotspot/normal/eclipse

[2022-05-10 07:05] zakkak commented on #371
Fixed upstream by https://github.com/oracle/graal/pull/4485

[2022-05-10 07:05] #371 closed

[2022-05-11 12:50] jerboaa commented on #373
Latest ea build from temurin should have this fixed. For example `OpenJDK11U-jdk_x64_linux_hotspot_2022-05-11-07-22.tar.gz`

[2022-05-11 13:22] zakkak commented on #373
Confirmed (see https://github.com/graalvm/mandrel/runs/6388571079?check_suite_focus=true)

Thanks for the heads up @jerboaa

[2022-05-11 13:22] #373 closed

[2022-05-14 08:34] Karm opened #383 "Master won't build with JDK 11.0.15"
[code]

Log: https://ci.modcluster.io/job/mandrel-master-linux-build-matrix/212/JDK_RELEASE=ga,JDK_VERSION=11,LABEL=el8_aarch64/consoleText

[2022-05-14 08:37] Karm commented on #383
Perhaps Jenkins CI thing. The job has been down for some time due to missing python update.

[2022-05-16 08:20] jerboaa commented on #383
This is a duplicate of #373

[2022-05-16 08:20] #383 closed

[2022-05-28 07:47] Karm opened #384 "CI: Adoptium hotspot builds download: Unexpected multiple variants"
Github actions:
[code]

Jenkins for URL `https://api.adoptium.net/v3/binary/latest/17/ea/linux/aarch64/jdk/hotspot/normal/eclipse`
[code]

[2022-05-28 08:02] Karm commented on #384
https://github.com/adoptium/api.adoptium.net/issues/436

[2022-05-30 12:16] jerboaa commented on #384
This is an upstream Adoptium API issue.

[2022-06-07 13:00] zakkak opened #386 "mandrel-java17-22.1.0.0-Final not working on windows when installed under a path containing spaces."
## Description
$title

See https://github.com/quarkusio/quarkus/issues/25927 for more details

### Configuration:
 - OS: Windows 10
 - Architecture: AMD64
 - Mandrel version: 22.1.0.0-Final
 - JDK version: `17`

[2022-06-07 13:27] jerboaa commented on #386
Graal VM CE ships with a native native-image launcher. Could be a source of difference. Either way, we should be able to catch this in the future with an integration test.

[2022-06-08 11:39] zakkak commented on #384
Fixed upstream

[2022-06-08 11:39] #384 closed

[2022-06-08 15:17] Karm commented on #386
This occurred in the past already and was fixed, so this is a regression in what we do in the launcher. I had problems with it while doing https://github.com/graalvm/mandrel-packaging/pull/71 way back in the day.
Why haven't we caught it:

 * tests run either in `C:\tmp\` or
 * it gets installed in `C:\Program_Files'`  as created by `New-Item -ItemType SymbolicLink -path 'C:\Program_Files' -Target

[2022-06-09 08:50] jerboaa opened #387 "Latest graal master seems to fail to build for mandrel"
## Description
Mandrel using graal vm master fails to build with:
[code]

See: https://github.com/graalvm/mandrel/actions/runs/2465713805

[2022-06-09 08:50] jerboaa commented on #387
/cc @zakkak @Karm

[2022-06-09 15:54] zakkak commented on #387
I am reopenning this as a reminder to revert https://github.com/graalvm/mandrel-packaging/pull/251 once https://github.com/oracle/graal/pull/4633 gets merged (in progress for 22.2).

[2022-06-10 05:11] #387 closed

[2022-06-10 14:49] jerboaa opened #389 "[Tracker] Support running image builder on module path"
## Description
The 22.2 GraalVM release will default to running the image builder on the module path. This causes many quarkus test failures as of yet. Example:
https://github.com/graalvm/mandrel/runs/6824595648

Fixes that need to go in before we can declare success on it:
- [x] https://github.com/quarkusio/quarkus/pull/25986 (currently draft)

Possible work-around:
- https://github.com/graalvm/m

[2022-06-14 08:17] jerboaa opened #392 "GraalVM master branch fails to build for mandrel"
The error seems to be truffle API related:

[code]

See also:
https://github.com/graalvm/mandrel-packaging/runs/6875584001

[2022-06-15 12:55] zakkak commented on #392
Fixed by https://github.com/graalvm/mandrel-packaging/pull/251. This was supposed to be a workaround but it looks like we will have to keep it for the long run as explained in https://github.com/graalvm/mandrel-packaging/pull/254#issuecomment-1156434107

[2022-06-16 06:49] #389 closed

[2022-06-20 08:52] zakkak opened #394 "Graal master (22.3-dev) and 22.2-dev not building (Mandrel distribution) with upstream OpenJDK 11 builds"
MIrror of upstream issue https://github.com/oracle/graal/issues/4655

[2022-06-20 15:00] jerboaa commented on #394
The build failure is:

[code]

[2022-06-22 08:26] zakkak commented on #386
The fix is now merged upstream and [included in the upcoming 22.2 release](0da6c3554966c46551fed428f43d5e93262f102c), it will also be [backported to 21.3.3](https://github.com/oracle/graal/issues/4636).

[2022-06-22 08:26] #386 closed

[2022-06-22 14:10] Karm opened #396 "A certain combination of JDK 11 x Mandrel 22.1 breaks Quarkus JAXB native tests"
Mandrel 22.1 [02f1c91](https://github.com/graalvm/mandrel/tree/02f1c914d45546cb1b49492a74c2266b0a490386) distribution built with JDK 11 [358fc5ac6b95](https://github.com/openjdk/jdk11u-dev/commit/358fc5ac6b95) (older commit from what would become 11.0.16), breaks JAXB native tests for both Quarkus 2.9.2.Final and contemporary main as follows:

[code]

I am filing this issue for the record, so as w

[2022-06-23 20:49] Karm commented on #394
Is this still the same thing? It doesn't seem to me, but the title of this GH issue brought me here:

JDK 11: [8242dd1044cc](https://github.com/openjdk/jdk11u-dev/commit/8242dd1044cc)
Mandrel: 22.2 [9504096b811](https://github.com/graalvm/mandrel/commit/9504096b811)

amd64, Linux

[code]

[2022-06-23 22:19] zakkak commented on #394
Yes it's the same issue. The fix is in https://github.com/oracle/graal/pull/4662 and is in the merge queue (it will also land on 22.2 branch once merged)

[2022-06-23 23:23] Karm commented on #394
@zakkak O.K.  Thx. Using [foivos_fix-4655](https://github.com/zakkak/mandrel/tree/fix-4655) made it work for me e.g. with JDK 11 [8242dd1044cc](https://github.com/openjdk/jdk11u-dev/commit/8242dd1044cc).

Build with e.g. jdk-11.0.15+10 doesn't work though. Is it expected that the older (current at the moment) JDK would become incompatible?
Or is it just an mx / Pyhton / packaging fail? I observe i

[2022-06-24 06:30] zakkak commented on #394
Yes, that should be due to https://github.com/graalvm/mandrel/issues/373.

[2022-06-27 07:24] zakkak commented on #348
Test failures seem to be caused by https://github.com/oracle/graal/commit/58bed51f26192cba88231a7605cfd7d8761a6088. Quarkus fix in https://github.com/quarkusio/quarkus/pull/26370

[2022-06-28 06:45] zakkak commented on #394
https://github.com/oracle/graal/pull/4662 is now merged both on `master` and on `release/graal-vm/22.2` upstream branches.

[2022-06-28 06:45] #394 closed

[2022-06-28 07:16] zakkak opened #398 "[CI] Quarkus main fails with Java 11 mandrel build of `graal/master` on Windows"
This issue is automatically updated by CI to report issues with Quarkus main and mandrel builds of `graal/master`

[2022-06-28 07:17] zakkak opened #399 "[CI] Quarkus main fails with Java 17 mandrel build of `graal/master` on Linux"
This issue is automatically updated by CI to report issues with Quarkus main and mandrel builds of `graal/master`

[2022-06-28 07:18] zakkak opened #400 "[CI] Quarkus main fails with Java 17 mandrel build of `graal/master` on Windows"
This issue is automatically updated by CI to report issues with Quarkus main and mandrel builds of `graal/master`

[2022-07-07 12:14] zakkak commented on #399
Caused by https://github.com/graalvm/mx/issues/266

[2022-07-07 12:14] zakkak commented on #348
Caused by https://github.com/graalvm/mx/issues/266

[2022-07-07 15:09] Karm commented on #400
[code]

[2022-07-07 18:56] zakkak commented on #400
Tracked here https://github.com/graalvm/mx/issues/266

[2022-07-20 09:45] zakkak commented on #399
Tracked in https://github.com/oracle/graal/issues/4736

[2022-07-20 09:45] zakkak commented on #348
Tracked in https://github.com/oracle/graal/issues/4736

[2022-07-21 23:06] melloware opened #411 "Undefined reference to `Java_sun_font_SunLayoutEngine_disposeFace'"
## Description
Trying to build a Mandel image getting `undefined reference to Java_sun_font_SunLayoutEngine_disposeFace` error in linker.

[code]
Project: https://github.com/melloware/quarkus-faces

## How To Reproduce
Steps to reproduce the behavior:
1. `git clone https://github.com/melloware/quarkus-faces`
2. `mvn clean package -Pnative -Dquarkus.native.container-build=true -Dquarkus.native.buil

[2022-07-23 06:56] Karm opened #412 "M 22.2.0.0-Final, JDK: 17.0.4+8, Q 2.10.0.Final: java.lang.IllegalAccessError: class io.quarkus.runner.AutoFeature"
I thought this was resolved for Q 2.10.0.Final.
Updated runners to Q 2.11.0.Final and re-running...

[code]

Full log: https://karms.biz/pastebin/22.2.0-final-Q-2.10-fail.txt

[2022-07-23 08:40] Karm commented on #412
2.11.0.Final works fine

[2022-07-23 08:40] #412 closed, assigned to Karm

[2022-07-26 20:03] #398 closed

[2022-07-29 06:19] sophokles73 opened #416 "M 22.2.0.0 fails with java.lang.IllegalAccessExceptions"
## Description
I am trying to create a native executable as part of the Eclipse Hono Maven based build using Quarkus 2.10.2.
Howver, the build fails with multiple java.lang.IllegalAccessExceptions being thrown by the `native-image` compiler.

The build succeeds with Mandrel 22.1.0.0.Final.

## How To Reproduce
Steps to reproduce the behavior:
1. export GRAALVM_HOME=~/mandrel-java17-22.2.0.0-Final

[2022-07-29 06:58] sophokles73 commented on #416
I stumbled across the [GraalVM 22.2.0 release notes](https://www.graalvm.org/release-notes/22_2/#native-image) which explain why I get these exceptions.

I have fixed the problem by passing the following arguments to the `native-image` compiler
[code]

with these the build succeeds as expected.

[2022-07-29 06:58] #416 closed, assigned to nobody

[2022-07-31 05:50] #396 closed

[2022-08-09 18:13] jerboaa commented on #348
`redis-client` failure reported here:
https://github.com/quarkusio/quarkus/issues/27211

[2022-08-10 18:10] jerboaa commented on #399
`liquibase-mongodb` failure (affects JDK 11 and JDK 17) reported here: https://github.com/quarkusio/quarkus/issues/27232

[2022-08-10 18:15] jerboaa opened #417 "GraalVM 22.3.0-dev Quarkus native readiness tracker"
We are seeing some CI failures in quarkus native integration tests on the master branch (22.3.0-dev tree). This serves as a tracker for all issues in prep for the 22.3.0 release:

# Mandrel only (not seen with GraalVM CE):

https://github.com/quarkusio/quarkus/issues/27211 (Fixed with https://github.com/quarkusio/quarkus/pull/27225)

# GraalVM CE and Mandrel:

https://github.com/quarkusio/quarkus/

[2022-08-17 09:29] zakkak commented on #316
## Update 2022-08-17

After running similar tests with GraalVM CE 22.2.0 I am still observing similar behavior.

To make it easier to parse I have created a plot form the data in https://github.com/graalvm/mandrel/issues/316#issuecomment-990738929

![image](https://user-images.githubusercontent.com/1435395/185083649-ea99ccb9-ecad-4090-af54-a5c9073f3b0b.png)

and a plot with the new data using Graa

[2022-08-17 12:00] jerboaa commented on #316
Nice work! So it seems `-H:-ParseOnce` still makes sense.

[2022-09-01 09:09] jerboaa opened #419 "quarkus-integration-test-resteasy-jackson-999-SNAPSHOT-runner fails on Windows with latest JDK 17-ea"
The native build fails with:

[code]

I'm pretty sure this is an upstream graal issue and surfaces only with a JDK >= 17.0.5+4 which includes https://bugs.openjdk.org/browse/JDK-6782021 (see commit: https://github.com/openjdk/jdk17u-dev/commit/e3c178d6d87c9e0e2a75cddc72d802cf9124420e).

[2022-09-01 09:10] jerboaa commented on #419
@Karm Do you mind taking a look?

[2022-09-01 09:11] jerboaa commented on #400
Caused by: https://github.com/graalvm/mandrel/issues/419

[2022-09-13 02:12] goudai opened #420 "Which GCs are supported in Native-image mode"
Which GCs are supported in Native-image mode？

[2022-09-13 09:22] jerboaa commented on #420
Serial GC (and Epsilon), but Serial is probably the one you'd want. See https://www.graalvm.org/22.2/reference-manual/native-image/optimizations-and-performance/MemoryManagement/

[2022-09-13 09:22] #420 closed, assigned to nobody

[2022-09-19 08:32] jerboaa commented on #419
Seems fixed upstream with 0c88c7d5ded86bf566ba04660f6588c794131add

[2022-09-19 08:32] #419 closed, assigned to Karm

[2022-09-19 17:54] jerboaa commented on #417
As of today there shouldn't be any more breakages for 22.3-dev as the kotlin issue got fixed too. I'll close this tomorrow if native integration tests look good.

[2022-09-20 06:59] #348 closed

[2022-09-20 09:28] jerboaa commented on #417
Yes, all kotlin related failures are gone now. Closing. See for example: https://github.com/graalvm/mandrel/actions/runs/3087363520

[2022-09-20 09:42] zakkak commented on #417
There seems to be a new issue with the `gradle` integration test caused by https://github.com/quarkusio/quarkus/pull/27728 and fixed by https://github.com/quarkusio/quarkus/pull/28084

[2022-09-20 12:14] jerboaa commented on #417
Aha! Thanks faster than me.

[2022-09-21 10:10] zakkak opened #423 "Stop building JDK 11 based Mandrel builds"
As of https://github.com/quarkusio/quarkus/pull/26319 (released with Quarkus 2.11.0.Final) Quarkus has been defaulting to JDK-17 based builder images with no major issues so far.

As a result we could phase out our JDK-11 builds and focus solely on the JDK-17 ones.

[2022-09-21 10:11] zakkak commented on #423
cc @jerboaa @galderz @Karm

[2022-09-21 11:58] jerboaa commented on #423
Yes, I agree (for latest master, releases). We need to keep them for 21.3.

[2022-09-22 09:21] Karm commented on #423
I will gradually disable those builds on Jenkins instances for 22.3 and master.

[2022-09-22 13:18] zakkak commented on #417
Last issue fixed as well :)

[2022-09-22 13:18] #417 closed, assigned to nobody

[2022-09-26 08:24] zakkak commented on #399
Seems like a GHA network issue

[code]

[2022-09-30 09:03] zakkak commented on #399
The issue reported above will be fixed with https://github.com/quarkusio/quarkus/pull/28316

[2022-10-03 06:52] zakkak commented on #399
Issues will be fixed with https://github.com/oracle/graal/pull/5118

[2022-10-05 18:39] Karm opened #428 "Windows 21.3 does not build with future JDK 17 (17.0.5+4) and JDK 11 (11.0.18+1)"
Both 21.3 JDK17 and 22.3 JDK17 build fine.
[code]

@zakkak @jerboaa Is this a concern, or we can abandon this by switching to 22.3.0 JDK17 anyway?

WIP trying 22.3.0 JDK11 windows...

[2022-10-05 19:57] jerboaa commented on #428
@Karm This is https://github.com/graalvm/mandrel/issues/419 and needs a backport of the fix in master to 21.3.

[2022-10-05 20:05] Karm commented on #428
Thx

[2022-10-05 20:21] jerboaa commented on #428
Re-opening. Let's close it once the backport is in.

[2022-10-05 20:26] jerboaa commented on #428
I see that https://bugs.openjdk.org/browse/JDK-6782021 got backported to 11.0.18. So it's relevant for the January CPU update of the 21.3 train.

[2022-10-11 16:19] jerboaa commented on #428
That's not the full story. For JDK 17 based builds we need the fix in `17.0.5` which is October 2022 CPU update.

[2022-10-11 17:52] jerboaa opened #432 "Consider backport of c++ compatible mangling support for 22.3"
Debugging experience in 22.3 tree isn't great. See https://github.com/oracle/graal/issues/5064#issuecomment-1272985630

We should consider a backport of https://github.com/oracle/graal/pull/5172 to 22.3 or find the right commits which broke the debuginfo test. I'm slightly in favor of the former.

[2022-10-12 08:01] zakkak commented on #399
Looks like a network issue:

[code]

See https://github.com/graalvm/mandrel/actions/runs/3231742219/jobs/5291827296#step:11:49

[2022-10-12 12:46] jerboaa opened #437 "Consider backporting Imageio/management_ext.a fix to 22.3"
The original change https://github.com/oracle/graal/pull/5122#issuecomment-1273497358 didn't make it into 22.3. We should consider backporting it and later sync with 22.3.1 in January (i.e. propose as a backport to 22.3 as well).

See: https://github.com/Karm/mandrel-integration-tests/issues/117

[2022-10-12 16:10] jerboaa commented on #428
Closed with https://github.com/graalvm/mandrel/commit/840012cb045c62b2cd104f9d094a4e0c2c74268e (PR #430).

[2022-10-12 16:10] #428 closed, assigned to nobody

[2022-10-18 14:00] #432 closed, assigned to nobody

[2022-10-18 14:00] #437 closed, assigned to nobody

[2022-10-19 08:33] zakkak commented on #399
WIP fix: https://github.com/quarkusio/quarkus/pull/28650

[2022-10-19 08:34] zakkak commented on #400
WIP fix: https://github.com/quarkusio/quarkus/pull/28650

[2022-10-19 09:06] jerboaa commented on #399
For reference the workaround is to pass `-H:+TolerateBuilderClassesOnImageClasspath`. We could add that to the CI config if the quarkus fix takes longer to land. See: https://github.com/oracle/graal/pull/5232

[2022-10-19 16:28] zakkak commented on #399
Unfortunately that's not so simple. To pass this flag we need to use `-Dquarkus.native.additional-build-args=-H:+TolerateBuilderClassesOnImageClasspath` which unfortunately overrides (and does not augment) the `quarkus.native.additional-build-args` property defines in some integration tests. As a result, doing so will result in some tests failing.

[2022-10-19 16:47] jerboaa commented on #399
RFE to the tests to accept a prop which appends ;-)

[2022-10-21 08:57] zakkak commented on #399
It looks like a timeout... I rescheduled the failed jobs.

[2022-10-31 10:12] rquinio1A opened #451 "Mandrel 21.3.4 <-> GraalVM 21.3.3.1 ?"
Hello,

I was looking for the Mandrel version for the OpenJDK October 2022 patch.
Upstream it's 21.3.4 https://docs.oracle.com/en/graalvm/enterprise/21/docs/release-notes/

There's already a Mandrel 21.3.4.0 but if I'm not mistaken it seems based off GraalVM 21.3.3.1 (OpenJDK 11.0.16) ?
cf https://github.com/graalvm/mandrel/compare/mandrel-21.3.3.0-Final...mandrel-21.3.4.0-Final

Is there a new pa

[2022-11-02 17:24] jerboaa commented on #451
Yes, we have tagged `21.3.4.0-Final` for the October 2022 CPU update which also syncs up with the 21.3.3.1 release from GraalVM. I don't know if there are any plans for GraalVM CE to make their tags for 21.3.4 public. I think they stop doing public CE updates once the next LTS is released which happened with 22.3.0 being released now. It's not yet clear whether or not we actually do the release. W

[2022-11-02 17:28] zakkak commented on #451
I confirm that there are no plans for a GraalVM CE 21.3.4 release

Hello @rquinio1A may I ask what's your use case?

Mandrel releases are specifically tailored to Quarkus. Using 21.3 would only make sense if you are still using Quarkus 2.7. Are you?

If not, but you are interested in using an LTS Mandrel release, 22.3 just got out and Quarkus will soon switch to using GraalVM/Mandrel 22.3 (see htt

[2022-11-03 08:35] rquinio1A commented on #451
@jerboaa Thanks for the info
@zakkak Indeed we're using RHBQ 2.7.

[2022-11-03 13:34] jerboaa commented on #451
Hmm, if you are using RHBQ 2.7 you should be on 21.3.4 (and OpenJDK 11.0.17/17.0.5) already when using the default images of the product code.

[code]

[2022-11-03 14:26] cescoffier opened #456 "Document the fact that there are no more -java11 in 22.3"
_It's not a feature request_
\CC @galderz

When I produced the container images for Quarkus for Mandrel 22.3.0.1, I found out that there is no Java 11 image anymore. Using the Java 17 image should be fine, but there is one case where the migration should be explained.

If you have a multi-stage build, where the first stage was using the mandrel image 22.2-java11, and you want to update, you don't

[2022-11-03 14:50] jerboaa commented on #456
@cescoffier Is there some documentation of how this multi-stage build you are referring to is being used in practise? This is a use-case I wasn't aware of. To me it seems weird to use the mandrel JDK 11 image to compile java source code as it doesn't even have maven installed. For multi-stage builds a plain OpenJDK 11 image would be more suitable, like `registry.access.redhat.com/ubi8/openjdk-11`.

[2022-11-03 14:53] cescoffier commented on #456
I agree that it's really a niche. I've found out that we have some kind of documentation in Quarkus:
https://quarkus.io/guides/building-native-image#multistage-docker.

[2022-11-03 15:06] jerboaa commented on #456
OK, but could we not just update this doc to use:

[code]

[2022-11-03 15:08] jerboaa commented on #456
@zakkak updated the release notes, is this enough? https://github.com/graalvm/mandrel/releases/tag/mandrel-22.3.0.1-Final

[2022-11-04 17:14] galderz commented on #456
@jerboaa The comment in the release notes sounds good to me. If we can also update the quarkus guide then I think that would be good enough.

[2022-11-07 07:16] cescoffier commented on #456
On the quarkus side, we should

1) add a note in the guides when using mandrel in multi-stage
2) add a paragraph in the migration guide

(working on these)

[2022-11-07 14:46] zakkak commented on #456
@cescoffier I will take care of that

[2022-11-07 15:56] zakkak commented on #456
Ooops, sorry for skipping that part. I was already going to add some content to the migration guides so that's why I hijacked this part (and totally skipped that you said you are working on it). I hope we didn't end up duplicating work.

Done in  https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.14/_compare/c95d437c649100e7ec41a305d8b977957f7a19d9 and https://github.com/quarkusio/quarkus

[2022-11-10 10:03] jerboaa commented on #451
21.3.4.0 upstream release is here:
https://github.com/graalvm/mandrel/releases/tag/mandrel-21.3.4.0-Final

[2022-11-10 10:03] #451 closed, assigned to nobody

[2022-11-10 10:04] jerboaa commented on #456
Is there anything else we need to do for this, or can we close?

[2022-11-10 10:13] zakkak commented on #456
Let's just wait for https://github.com/quarkusio/quarkus/pull/29087 to be merged. I think other than that this is considered completed.

[2022-11-13 15:13] cescoffier commented on #456
Closing as https://github.com/quarkusio/quarkus/pull/29087 has been merged.

[2022-11-13 15:13] #456 closed, assigned to nobody

[2022-11-14 18:08] zakkak commented on #399
The failure ^^ was introduced with https://github.com/quarkusio/quarkus/pull/29228 and is expected to be fixed by https://github.com/quarkusio/quarkus/pull/29239

[2022-11-14 19:42] jerboaa commented on #399
Thanks for checking!

[2022-11-15 11:06] raupachz commented on #114
Any updates?

[2022-11-15 11:23] jerboaa commented on #114
I don't think our stance has changed on this one, sorry.

[2022-11-18 10:50] jerboaa commented on #399
Fails in `quarkus-integration-test-mongodb-client-999-SNAPSHOT-runner` when running integration tests on the image with:

[code]

See: https://github.com/graalvm/mandrel/actions/runs/3493647357/jobs/5848994361#step:11:453 Looks quarkus related.

[2022-11-18 22:23] tobiasoort opened #459 "arm64 builds of latest docker image versions are missing"
## Description
Looking at https://quay.io/repository/quarkus/ubi-quarkus-mandrel?tab=tags it seems that 22.1.x is the last version that shipped ARM64 binary builds in docker format. The latest (22.3.x) version does however come in an ARM64 (AARCH64) flavour here in the binary releases of the project in github.

This might have something to do with killing off old pipelines since migrating away fro

[2022-11-22 10:46] zakkak commented on #399
This is now being tracked in https://github.com/quarkusio/quarkus/issues/29402

[2022-11-22 10:51] jerboaa commented on #399
Thanks!